.panel.well
  %ul
  - @another_comments.each do |conference, events|
    %li= conference.title
    - events.each do |event, comments|
      %li= event.title
      - comments.each do |comment|
        %li= comment.body
        %li= comment.user.name
        %li= comment.created_at
