.row
  .col-md-12
    .page-header
      %h1
        Comments
        = "(#{@comments.length})" if @comments.any?
  .col-md-12
    %ul.nav.nav-tabs#commentsTable
      %li.active
        %a{ href: '#unread_comments', 'data-toggle' => 'tab' }
          %span.fa.fa-comment
          Unread
      %li
        %a{ href: '#posted_comments', 'data-toggle' => 'tab' }
          %span.fa.fa-pencil
          Posted
      %li
        %a{ href: '#all_comments', 'data-toggle' => 'tab' }
          %span.fa.fa-comments-o
          All
    .tab-content
      .tab-pane.active#unread_comments
        = render partial: 'unread_comments'
      .tab-pane#posted_comments
        = render partial: 'posted_comments'
      .tab-pane#all_comments
        = render partial: 'all_comments'
