.row
  .col-md-12
    .page-header
      %h1
        Surveys
        = link_to 'New', new_admin_conference_survey_path(@conference.short_title, survey: {  surveyable_type: 'Conference', surveyable_id: @conference.id }), class: 'btn btn-success pull-right'
      %p.text-muted
        Available surveys for this conference


- if @surveys.any?
  .row
    .col-md-12
      %table.table.table-hover#surveys
        %thead
          %th Title
          %th Start Date
          %th End Date
          %th Actions
        %tbody
          - @surveys.each_with_index do |survey, index|
            %tr
              %td
                = survey.title
              %td
                = survey.start_date
              %td
                = survey.end_date
              %td
                = link_to 'Edit', edit_admin_conference_survey_path(@conference.short_title, survey.id),
                method: :get, class: 'btn btn-primary'
                = link_to 'Delete', admin_conference_survey_path(@conference.short_title, survey.id),
                method: :delete, class: 'btn btn-danger',
                data: { confirm: "Do you really want to delete #{survey.title}?"}
