.container
  .row
    .col-md-12
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            = link_to "Proposal", "#proposal-content", "data-toggle"=>"tab"
          %li
            = link_to 'Commercials', '#commercials-content', 'data-toggle'=>'tab'
        .tab-content
          #proposal-content.tab-pane.active
            = render 'proposal/proposal_form'
          #commercials-content.tab-pane
            %p.text-muted
              You can add commercials for your proposal. These commercials will be displayed on the
              = link_to 'public proposal page.', conference_proposal_path(@conference.short_title, @event)
              If you don't add a commercial, the conference commercial will be displayed!

            - @event.commercials.each_slice(3) do |slice|
              .row
                - slice.each do |commercial|
                  .col-md-4
                    .thumbnail
                      %h3.text-center
                        = commercial.commercial_type
                      .flexvideo
                        = render partial: 'shared/media_item', locals: { commercial_type: commercial.commercial_type, commercial_id: commercial.commercial_id }
                      - if can? :update, commercial
                        = link_to 'Edit', edit_conference_proposal_commercial_path(@conference.short_title, @event.id, commercial.id), class: 'btn btn-primary'
                      - if can? :destroy, commercial
                        = link_to 'Delete', conference_proposal_commercial_path(@conference.short_title, @event.id, commercial.id),
                        :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
            - if can? :create, @event.commercials.new
              %hr
              = link_to 'Add Commercial', new_conference_proposal_commercial_path(@conference.short_title, @event.id), class: 'btn btn-primary'
