= semantic_form_for(@event, :url => @url) do |f|
  %section#basic
  = f.inputs :name => "Session Information" do
    - if can? :update, @event or can? :create, @event
      = f.input :title, :as => :string, :required => true
    - else
      Title: #{@event.title}
      %br
      %br
    = f.input :subtitle, :as => :string
  %section#details
    - if can? :update, @event or can? :create, @event
      = f.input :event_type_id,:as => :select, :collection => @conference.event_types.map {|x| ["#{x.title} - #{show_time(x.length)}", x.id]}, :include_blank => false, :label => "Session Type"
    - else
      Event type: #{@event.event_type.title}
      %br
      %br
    = f.input :difficulty_level, :as => :select, :collection => @conference.difficulty_levels, :include_blank => "(Please select)" if @conference.use_difficulty_levels
    = f.input :require_registration
    = f.input :abstract, :input_html => {:rows => 5, :class => "span11"},
      :required => true, :label => "Session Abstract"
    You have used
    %span#abstract-count #{@event.abstract_word_count}
    words.  Abstracts must be between
    %span#abstract-minimum-word-count
      0
    and
    %span#abstract-maximum-word-count
      250
    words.
    %br
    %br
    = f.input :description, :input_html => {:rows => 5, :class=> "span11"}, :hint => "This will only be shown to organizers, not to attendees."

  %section#information
  - if current_user.name.blank? || current_user.biography.blank?
    = f.inputs :name => "Your Information" do
      = semantic_fields_for current_user do |u|
        - if current_user.name.blank?
          = u.input :name, :as => :string, :required => true
        - if current_user.biography.blank?
          = u.input :biography, :required => true, :input_html => {:rows => 5, :class => 'span11', "onkeyup" => "word_count(this, 'biography-count', 150)"}
          You have used
          %span#biography-count #{current_user.biography_word_count}
          words.  Biographies are limited to 150 words.
  %p.text-right
    = f.action :submit, :as => :button, :button_html => {:class => "btn btn-success"}

:javascript
  var maxcount = 0;

  $("#event_event_type_id").change(function () {
    var str = "";
    var min_str = ""
    #{generate_abstract_length_js @conference}
    $("#abstract-maximum-word-count").text(str);
    $("#abstract-minimum-word-count").text(min_str);
    word_count($('#event_abstract').get(0), 'abstract-count', maxcount);
  })
  .trigger('change');

  $("#event_abstract").bind('keyup', function() {
    word_count(this, 'abstract-count', maxcount);
  } );
