.row-fluid
  .span3
    = image_tag @event.submitter.gravatar_url(:size => 200), :class => "img-rounded"
    %h3
      = @event.submitter.public_name
      - if @event.submitter.company
        %br
        %span.muted= @event.submitter.company
    -if @event.submitter.biography
      %p= @event.submitter.biography
  .span9
    .row-fluid
      .span12
        %h3.muted
          Video coming soon! Meanwhile...
    .row-fluid
      .span12.flexvideo
        %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=>"http://www.youtube.com/embed/Eiv4e5ZxTmg"}
    .row-fluid
      .span8
        %h2
          = @event.title
          - if @event.subtitle
            %br
            %span.muted
              = @event.subtitle
        %p
          = simple_format(@event.abstract)
      .span4
        %dl
          %dt Speaker:
          %dd= @event.submitter.public_name
          %dt Date:
          %dd= @event.start_time.strftime("%Y %B %e")
          - if @event.language
            %dt Language:
            %dd= @event.language
          %dt Conference:
          %dd= @event.conference.title
          - if @event.track_id
            %dt Track:
            %dd
              %span.label
                = @event.track.name