.row
  .col-md-12.page-header
    %h2
      = @event.title
      - if @event.subtitle
        %br
        %small
          = @event.subtitle
.row
  .col-md-3
    %p
      = simple_format(@event.abstract)
    %dl
      %dt Date:
      %dd= @event.start_time.strftime("%Y %B %e %H:%M") if @event.start_time
      %dt Conference:
      %dd= @event.conference.title
      %dt Language:
      %dd= @event.language if @event.language
      %dt Track:
      %dd
        - if @event.track_id
          %span.label{:style =>"background-color: #{@event.track.color};"}
            = @event.track.name
  .col-md-9
    -unless @event.media_id
      .row
        .col-md-12
          %h5.text-error
            No video of the event yet, sorry! Meanwhile...
    .row
      .col-md-13
        -if not @event.media_id.blank?
          .flexvideo
            -if @event.media_type == Event.media_types[:slideshare]
              %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> (request.ssl? ? "https://" : "http://") + "www.slideshare.net/slideshow/embed_code/#{@event.media_id}"}
            -elsif @event.media_type == Event.media_types[:flickr]
              %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> (request.ssl? ? "https://" : "http://") + "flic.kr/p/#{@event.media_id}/player/268a054da2"}
            -elsif @event.media_type == Event.media_types[:vimeo]
              %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> "//player.vimeo.com/video/#{@event.media_id}"}
            -elsif @event.media_type == Event.media_types[:speakerdeck]
              %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> "//speakerdeck.com/player/#{@event.media_id}?"}
            -elsif @event.media_type == Event.media_types[:instagram]
              %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :scrolling =>"no", :allowtransparency=>"true", :src=> "//instagram.com/p/#{@event.media_id}/embed/"}
            -else
              %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> (request.ssl? ? "https://" : "http://") + "www.youtube.com/embed/#{@event.media_id}?rel=0"}
        -else
          %div.well.well-lg="No video of the event yet, sorry! Meanwhile..."
    .row
      .col-md-8
        %h3
          by
          = @speaker.public_name
          - if @speaker.company?
            %br
            %span.muted
              from
              = @speaker.company
        -if @speaker.biography?
          = simple_format(@speaker.biography)
      .col-md-4
        = image_tag @speaker.gravatar_url(:size => 200), :class => "img-responsive img-rounded"


