.row
  .span12
    %h2
      = @event.title
      - if @event.subtitle
        %br
        %span.muted
          = @event.subtitle
.row-fluid
  .span3
    %p
      = simple_format(@event.abstract)
    %dl
      %dt Date:
      %dd= @event.start_time.strftime("%Y %B %e %H:%M") if @event.start_time
      %dt Conference:
      %dd= @event.conference.title
      %dt Language:
      %dd= @event.language if @event.language
      %dt Track:
      %dd
        %span.label= @event.track.name if @event.track_id
  .span9
    -unless @event.video_id
      .row-fluid
        .span12
          %h5.text-error
            No video of the event yet, sorry! Meanwhile...
    .row-fluid
      .span12.flexvideo
        -if @event.video_id
          %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=>"http://www.youtube.com/embed/#{@event.video_id}?rel=0"}
        -else
          %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=>"http://www.youtube.com/embed/Eiv4e5ZxTmg?rel=0"}
    .row-fluid
      .span8
        %h3
          by
          = @event.submitter.public_name
          - if @event.submitter.company
            %br
            %span.muted
              from
              = @event.submitter.company
        -if @event.submitter.biography
          = simple_format(@event.submitter.biography)
      .span4
        = image_tag @event.submitter.gravatar_url(:size => 200), :class => "img-rounded pull-right", :style => "margin: 8px;"


