.row
  .span12
    %h2
      = @event.title
      - if @event.subtitle
        %br
        %span.muted
          = @event.subtitle
.row-fluid
  .span3
    %p
      = simple_format(@event.abstract)
    %dl
      %dt Date:
      %dd= @event.start_time.strftime("%Y %B %e %H:%M") if @event.start_time
      %dt Conference:
      %dd= @event.conference.title
      %dt Language:
      %dd= @event.language if @event.language
      %dt Track:
      %dd
        - if @event.track_id
          %span.label{:style =>"background-color: #{@event.track.color};"}
            = @event.track.name
  .span9
    -unless @event.video_id
      .row-fluid
        .span12
          %h5.text-error
            No video of the event yet, sorry! Meanwhile...
    .row-fluid
      .span12.flexvideo
        -if @event.video_id
          -if @event.video_type == Event::YOUTUBE
            %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> request.ssl? ? "https://" : "http://" + "www.youtube.com/embed/#{@event.video_id}?rel=0"}
          -if @event.video_type == Event::SLIDE_SHARE
            %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=> request.ssl? ? "https://" : "http://" + "www.slideshare.net/slideshow/embed_code/#{@event.video_id}"}
        -else
          %iframe{:width=>"560", :height=>"315", :frameborder=>"0", :allowfullscreen=>"true", :src=>request.ssl? ? "https://" : "http://" + "www.youtube.com/embed/Eiv4e5ZxTmg?rel=0"}
    .row-fluid
      .span8
        %h3
          by
          = @speaker.public_name
          - if @speaker.company
            %br
            %span.muted
              from
              = @speaker.company
        -if @speaker.biography
          = simple_format(@speaker.biography)
      .span4
        = image_tag @speaker.gravatar_url(:size => 200), :class => "img-rounded pull-right", :style => "margin: 8px;"


