.container
  .row
    .col-md-12
      .page-header
        %h1
          Ticket for
          = @conference.title
        %p.text-muted
          - if @conference.venue
            at
            %strong
              #{@conference.venue.name},
            #{@conference.venue.street},
            #{@conference.venue.city} / #{@conference.venue.country_name}.
          %small
            = date_string(@conference.start_date, @conference.end_date)
  .row
    .col-md-6
      - if @conference.picture?
        = image_tag(@conference.picture_url, class: 'img-responsive')
      - else
        = image_tag('/img/osem-logo.png', class: 'img-responsive')
    .col-md-6
      %address
        %strong
          Ticket Type
        %br
        = @physical_ticket.ticket.title
        %br
        %strong
          Ticket REF.
        %br
        = @physical_ticket.ticket_purchase.id
        %br
        %strong
          Organization
        %br
        = @conference.organization.name
        %br
        %strong
          Transaction Date
        %br
        = @physical_ticket.created_at.strftime('%B %d, %Y')
  .row
    .col-md-12
      %p.text-right
        = link_to 'Generate PDF',
        conference_physical_ticket_path(@conference.short_title,
                                        @physical_ticket.id,
                                        format: :pdf),
        class: 'button btn btn-default btn-info'
