%dt
  Type:
%dd
  = cfp.cfp_type.capitalize
%dt
  Start Date:
%dd#start-date
  = cfp.start_date.strftime('%A, %B %-d. %Y')
%dt
  End Date:
%dd#end-date
  = cfp.end_date.strftime('%A, %B %-d. %Y')
%dt
  Description:
%dd#description
  = markdown(cfp.description)
%dt
  Days Left:
%dd
  = pluralize(cfp.remaining_days, 'day')
%dt
  Event types:
%dd
  = event_types_sentence(conference)
%dt
  Tracks:
%dd
  = tracks(conference)
%dt
  Public Schedule:
%dd#schedule-public
  - if conference.program.schedule_public
    Yes
  - else
    No
%dt
  Schedule changeable?
%dd#schedule-changes
  - if conference.program.schedule_fluid
    Yes
  - else
    No
%dt
  Rating Levels:
%dd#rating
  = conference.program.rating
