= form_for(@cfp, url: (@cfp.new_record? ? admin_conference_program_cfps_path : admin_conference_program_cfp_path(@conference.short_title, @cfp)), data: { end_conference: @conference.end_date.to_s }) do |f|
  = f.hidden_field :cfp_type
  .form-group
    = f.label :start_date, "Start Date"
    %abbr{title: 'This field is required'} *
    = f.date_field :start_date, class: 'form-control', required: true
  .form-group
    = f.label :end_date, "End Date"
    %abbr{title: 'This field is required'} *
    = f.date_field :end_date, class: 'form-control', required: true
  .form-group
    = f.label :description, "Description"
    = f.text_area :description, rows: 2, data: { provide: 'markdown' }
    %span.help-block
      = markdown_hint
  - if @cfp.cfp_type == 'events'
    .checkbox
      %label
        = f.check_box :enable_registrations
        Allow submitters to request registration?
  %p.text-right
    = f.submit nil, { class: 'btn btn-success' }
