%dt
  Type:
%dd
  = cfp.cfp_type.capitalize
%dt
  Start Date:
%dd#start-date
  = cfp.start_date.strftime('%A, %B %-d. %Y')
%dt
  End Date:
%dd#end-date
  = cfp.end_date.strftime('%A, %B %-d. %Y')
%dt
  Description:
%dd#description
  = markdown(cfp.description)
%dt
  Days Left:
%dd
  = pluralize(cfp.remaining_days, 'day')
