.row
  .col-md-12
    .page-header
      %h1 Calls for Content
      %p.text-muted
        Ask people to submit content to your conference,
        within defined timeframes.
- if @program.cfps
  .row
    .col-md-12
      %table.table.table-hover#tickets
        %thead
          %th Type
          %th Start Date
          %th End Date
          %th Description
          %th Days Left
          %th Actions
        %tbody
          - @program.cfps.each do |cfp|
            %tr
              %td
                = link_to cfp.cfp_type.capitalize,
                  admin_conference_program_cfp_path(@conference, cfp)
              %td
                = cfp.start_date.strftime('%A, %B %-d. %Y')
              %td
                = cfp.end_date.strftime('%A, %B %-d. %Y')
              %td
                %p
                  = truncate(cfp.description)
              %td
                = pluralize(cfp.remaining_days, 'day')
              %td
                .btn-group
                  = link_to 'Edit',
                    edit_admin_conference_program_cfp_path(@conference, cfp),
                    method: :get, class: 'btn btn-primary'
                  = link_to 'Delete',
                    admin_conference_program_cfp_path(@conference, cfp),
                    method: 'delete', class: 'btn btn-danger',
                    data: { confirm: 'Are you sure?' }
- if can? :new, @program.cfps.new
  .row
    .col-md-12.text-right
      .btn-group
        %button.btn.btn-primary.dropdown-toggle{ type: 'button',
          data: { toggle: 'dropdown' } }
          Add Call for...
          %span.caret
        %ul.dropdown-menu
          - @program.remaining_cfp_types.each do |cfp_type|
            %li
              = link_to cfp_type.capitalize,
                new_admin_conference_program_cfp_path(@conference,
                  cfp: { cfp_type: cfp_type })
