.container
  .row
    .col-md-12.page-header
      %h2
        Tickets
        = link_to 'Back to registration',
                  conference_conference_registration_path(@conference),
                  class: 'btn btn-success pull-right'
      .text-muted
        Your tickets for the conference

    -# TODO: And if they have a registration ticket?
    - if !@conference.user_registered?(@user) && @has_registration_ticket
      .col-md-12
        .alert.alert-success{role: 'alert'}
          = link_to 'Complete Registration',
            new_conference_conference_registration_path(@conference),
            class: 'btn btn-info pull-right btn-lg'
          %h3
            🎉 Thanks for getting a #{@conference.title} ticket! One last step...
          %strong
            You are not yet registered for the conference.

    .col-md-12
      - if @physical_tickets.present?
        %table.table.table-bordered.table-striped.table-hover#roles
          %thead
            %th ID
            %th Type
            %th User
            %th Registration?
            %th Actions
          %tbody
            - @physical_tickets.each do |physical_ticket|
              %tr
                %td= physical_ticket.id
                %td= physical_ticket.ticket.title
                %td= physical_ticket.user.name
                %td= physical_ticket.ticket.registration_ticket? ? 'Yes' : 'No'
                %td
                  .btn-group
                    = link_to 'Show',
                    conference_physical_ticket_path(@conference.short_title,
                                                    physical_ticket.token),
                    class: 'btn btn-primary'
                    = link_to 'Generate PDF',
                    conference_physical_ticket_path(@conference.short_title,
                                                    physical_ticket.token,
                                                    format: :pdf),
                    class: 'button btn btn-default btn-info'
      - else
        %h5 No Tickets found!
  .row
    .col-md-12
      - if @unpaid_ticket_purchases.any?
        .h3
          You have unpaid tickets!
          %small
            = link_to "Pay them here", conference_ticket_purchases_path
