.row
  .col-md-12
    .page-header
      %h1 Targets
      %p.text-muted
        Set up goals for your conference
.row
  .col-md-12
    %table.table.table-hover#targets
      %thead
        %tr
          %th Due Date
          %th Target Count
          %th Unit
          %th Actions
      %tbody
        - @targets.each do |target|
          %tr
            %td{'id'=> "due_date_#{target.id}"}
              = target.due_date
            %td{'id'=> "count#{target.id}"}
              = target.target_count
            %td{'id'=> "unit_#{target.id}"}
              = target.unit
            %td
              .btn-group
                = link_to 'Edit',
                edit_admin_conference_target_path(@conference.short_title, target.id),
                class: 'btn btn-primary'
                = link_to 'Delete',
                admin_conference_target_path(@conference.short_title, target.id),
                method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete this target?" }
.row
  .col-md-12
    = link_to 'New Target', new_admin_conference_target_path, class: 'btn btn-success pull-right'
