.container
  .row
    .col-md-12
      .page-header
        %h1
          = @track.name
          Track
  .row
    .col-md-8
      %dl.dl-horizontal
        %dt
          Color:
        %dd
          %span.label{style: "background-color: #{@track.color}; color: #{ contrast_color(@track.color) }"}
            = @track.color
        %dt
          State:
        %dd
          = @track.state.humanize
        %dt
          Start date:
        %dd
          - if @track.start_date
            = @track.start_date.strftime('%A, %B %-d. %Y')
          - else
            N/A
        %dt
          End date:
        %dd
          - if @track.end_date
            = @track.end_date.strftime('%A, %B %-d. %Y')
          - else
            N/A
        %dt
          Description
        %dd
          = @track.description
  .row
    .col-md-12.text-right
      - if can? :edit, @track
        = link_to 'Edit Track request', edit_conference_program_track_path(@conference.short_title, @track), class: 'btn btn-primary'
