%div{ style: "padding-left:#{padding}px" }
  .well.comment-section
    %strong= comment.user.name
    %i= comment.created_at
    %p.comment-body= comment.body
    %div
      %a.pull-right.comment-reply-link{ href: '#' } Reply
      .comment-reply
        = form_for :comment, url: comment_admin_conference_program_event_path(@conference.short_title, comment.commentable_id), method: :post do |f|
          .form-group
            = f.text_area :body, class: 'form-control'
          %input{ name: 'parent', type: 'hidden', value: comment.id }
          %input{ name: 'authenticity_token', type: 'hidden', value: '#{form_authenticity_token}' }
          %button.btn.btn-primary.pull-right{ name: 'button', type: 'submit' } Add Reply
  - comment.children.each do |child|
    = render 'nested_comments', comment: child, padding: 50
