%table.table#myrating
  - if @program.show_voting?
    %tr
      %td.col-md-2
        %b Rating
      %td
        - if @event.average_rating.to_f > 0
          #{@event.average_rating}/#{@program.rating}
        - else
          Rating: 0/#{@program.rating}

        - @program.rating.times do |counter|
          - if @event.average_rating.to_f.round == counter+1
            = label_tag 'label_rating', '', class: 'avgrating', avgrate: true
            = javascript_tag "$('label[avgrate=true]').prevAll().andSelf().addClass('bright');"
          - else
            = label_tag 'label_rating', '', class: 'avgrating'
    %tr
      %td
        %b Voters
      %td
        = @event.voters.length
        - if @event.voters.length > 0
          (
          = @ratings.map {|x| "#{x.name}"}.join ', '
          )
  %tr
    %td.col-md-2
      %b Your vote
    %td
      - if @program.voting_period?
        - @program.rating.times do |counter|
          - if @event.voted?(current_user) && @event.user_rating(current_user) == counter+1
            = link_to "", vote_admin_conference_program_event_path(@conference.short_title, @event, :rating => counter+1), :remote => true, :id =>"label#{counter+1}", :class => "myrating", :voted => true
          - else
            = link_to "", vote_admin_conference_program_event_path(@conference.short_title, @event, :rating => counter+1), :remote => true, :id =>"label#{counter+1}", :class => "myrating"
        %br
      - else
        - @conference.program.rating.times do |counter|
          - if @event.voted?(current_user) && @event.user_rating(current_user) == counter+1
            = label_tag "label#{counter+1}", '', class: 'othersrating', voted: true
            = javascript_tag "$('label[voted=true]').prevAll().andSelf().addClass('bright');"
          - else
            = label_tag "label#{counter+1}", '', class: 'othersrating'
        (#{voting_open_or_close(@program)})

  - if @program.show_voting?
    - if @ratings.length > 0
      - @ratings.each do |rate|
        - unless rate.user_id == current_user.id
          %tr
            %td
              = rate.name
            %td
              - @conference.program.rating.times do |counter|

                - if @event.voted?(rate.user) && @event.user_rating(rate.user) == counter+1
                  = label_tag "label#{counter+1}", "", :class => "othersrating", :voted => true
                  = javascript_tag "$('label[voted=true]').prevAll().andSelf().addClass('bright');"
                - else
                  = label_tag "label#{counter+1}", "", :class => "othersrating"
:javascript
  $(function () {
    var checkedId = $("a[voted='true']").attr('id');
    $('a[id=' + checkedId + ']').prevAll().andSelf().addClass('bright');
  });

  $(".myrating").hover(
    function() {    // mouseover
        $(this).prevAll().andSelf().addClass('glow');
    },
    function() {  // mouseout
        $(this).siblings().andSelf().removeClass('glow');
    }
  );

  $(".myrating").click(function() {
    $(this).siblings().removeClass("bright");
    $(this).prevAll().andSelf().addClass("bright");
  });
