.row
  .col-md-12
    .page-header
      %h1
        Registrations
        - if @event.max_attendees
          (#{@event.events_registrations.length}/#{@event.max_attendees})
        - else
          (#{@event.events_registrations.length})
      .text-muted
        for
        = @event.title

    - if @event.room.try(:size) && (@event_registrations.length > @event.room.size)
      %b Attention:
      You have more registrations than the capacity of the room!

    .well
      %table.datatable#registrations
        %thead
          %th
          %th Name
          %th Email
          %th Created At
          %th Attended
          %th Attended Conference
        %tbody
          - @event_registrations.each.with_index(1) do |event_registration, index|
            %tr
              %td= index
              %td= event_registration.name
              %td= event_registration.email
              %td= event_registration.created_at
              %td
                = check_box_tag @conference.short_title, @event.id, event_registration.attended, class: 'switch-checkbox', url: "#{toggle_attendance_admin_conference_program_event_path(@conference, @event, events_registration_id: event_registration)}&&event_registration[attended]="
              %td
                - if event_registration.registration.attended
                  %i.fa-solid.fa-check.text-success
                - else
                  %i.fa-solid.fa-xmark.text-danger
