<% if false %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.fields_for :person do |p| %>
        <h2><%= p.label :first_name %></h2>
        <p><%= p.text_field :first_name %></p>

        <h2><%= p.label :last_name %></h2>
        <p><%= p.text_field :last_name %></p>
    <% end %>
    <div><%= f.submit "Update" %></div>
<% end %>

<% end %>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.fields_for :person do |p| %>
        <%= f.inputs :first_name, :last_name, :for => :person %>
    <% end %>
    <div><%= f.submit "Update" %></div>
<% end %>
