.container
  .row-fluid
    = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = f.inputs :name => "Profile" do
        = f.fields_for :person do |p|
          = p.inputs :first_name, :last_name, :public_name
          = p.input :company, :label => "Affiliation", :hint => "This could be a company, a user group, or nothing at all."
          = p.input :biography,  :input_html => {:rows => 5, "onkeyup" => "word_count(this, 'biography-count')"}, :for => :person
          You have used
          %span#biography-count #{current_user.person.biography_word_count}
          words.  Biographies are limited to 150 words.
          %br
          %br
      = f.inputs :name => "Account" do
        = f.input :email, :required => false
        = f.input :password, :hint => "(Leave blank if you don't want to change it)", :input_html => {:autocomplete => "off"}
        = f.input :password_confirmation, :input_html => {:autocomplete => "off"}
        = f.input :current_password, :input_html => {:autocomplete => "off"}, :hint => "(we need your current password to confirm password or email changes)"
      = f.submit "Update"
