.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign Up
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.input :username, input_html: { required: true, placeholder: 'Eg. john_doe' }
            = f.input :email, input_html: { required: true, placeholder: 'Eg. abc@example.com' }
            = f.input :name, input_html: { required: true, placeholder: 'Eg. John Doe' }
            = f.input :password, input_html: { required: true, placeholder: 'Min. 6 characters' }
            = f.input :password_confirmation, input_html: { required: true, placeholder: 'Same as above' }
            %p.text-right
              = f.action :submit, as: :button, label: 'Sign Up', button_html: { class: 'btn btn-success' }

          = render partial: 'devise/shared/openid'
          = render partial: 'devise/shared/help'
