.row
  .page-header
    %h1.text-center Sign Up
  .col-md-5.col-md-offset-1
    .well
      = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.input :email
        = f.input :password
        = f.input :password_confirmation
        = f.action :submit, as: :button, label: 'Sign Up', button_html: {class: 'btn btn-primary'}
        %br
        %br
        %h4 Already have an account?
      = render 'devise/shared/links'
  .col-md-4
    .well
      %h4 Or use your openID

      = render 'devise/shared/openid'