.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign Up
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render partial: 'devise/shared/sign_up_fields', locals: { u: f}
            %p.text-right
              = f.action :submit, as: :button, label: 'Sign Up', button_html: {class: 'btn btn-success' }
          - unless omniauth_configured.empty?
            .row
              .col-md-4
                %hr
              .col-md-4
                %h4.text-center
                  or sign up using
              .col-md-4
                %hr
            .row
              .col-md-12
                #openidlinks
                  = render 'devise/shared/openid'
                %p.text-right
                  %a.small{"data-toggle" => "collapse", "data-target" =>  "#devise-help"}
                    Need Help?
                  #devise-help.collapse
                    = render 'devise/shared/links'
