.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign Up
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = f.input :username, required: true
            = f.input :email
            = f.input :name, required: true
            = f.input :password
            = f.input :password_confirmation
            %p.text-right
              = f.action :submit, as: :button, label: 'Sign Up', button_html: {class: 'btn btn-success' }

          = render partial: 'devise/shared/openid'
          = render partial: 'devise/shared/help'
