.container-fluid
  .row-fluid
    .span3
      = render 'admin/conference/sidebar', :activated => "Call for Papers"
    .span9
      = semantic_form_for(@cfp, :url => admin_conference_cfp_update_path(@conference.short_title),:html => {:multipart => true}) do |f|
        = f.input :start_date, :as => :string, :input_html => { :id => "conference-start-datepicker", :readonly => "readonly"  }
        = f.input :end_date, :as => :string, :input_html => { :id => "conference-end-datepicker", :readonly => "readonly"  }
        = f.input :hard_deadline, :as => :string, :input_html => { :id => "cfp-hard-datepicker", :readonly => "readonly"  }
        = f.input :description, :hint => "Welcome text for the Call for Papers"
        = f.input :schedule_changes
        = f.input :rating, :hint => "Enter the number of different rating levels you want to have for voting on proposals."
        = f.input :rating_description, :hint => "Enter comments about voting process.", :input_html => {:value => "1 is for 'I don't like this proposal',\n2 is for 'I am ok with this proposal.',\n3 is for 'I love this proposal!'", :rows => 5, :class => "span6"}
        = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
        = f.input :rating_desc, :label => "Rating Description", :hint => "Enter comments about voting process.", :input_html => {:value => "1 is for 'I don't like this proposal',\n2 is for 'I am ok with this proposal.',\n3 is for 'I love this proposal!'", :rows => 5, :class => "span6"}
        = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
