= form_for(@room, url: (@room.new_record? ? admin_conference_venue_rooms_path : admin_conference_venue_room_path(@conference.short_title, @room))) do |f|
  .form-group
    = f.label :name
    %abbr{title: 'This field is required'} *
    = f.text_field :name, autofocus: true, required: true, class: 'form-control'
    = f.label :size, 'Capacity'
    = f.number_field :size, size: 5, class: 'form-control'
  %p.text-right
    = f.submit nil, class: 'btn btn-primary'
