.row
  .col-md-12
    .page-header
      %h1
        - if @room.new_record?
          New
        Room
        = @room.name
.row
  .col-md-8
    = semantic_form_for(@room, url: (@room.new_record? ? admin_conference_venue_rooms_path : admin_conference_venue_room_path(@conference.short_title, @room)), remote: (true if @room.new_record?)) do |f|
      = f.input :name, input_html: { autofocus: true}, id: 'room_name'
      = f.input :size, input_html: {size: 5}, id: 'room_size'
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
