<div class="nested-fields">
    <%= f.inputs do %>
        <%= f.input :name %>
        <%= f.input :size, :input_html => {:size => 5} %>
        <%= f.input :public, :as => :boolean %>
        <%= remove_association_link :room, f %>
    <% end %>
</div>
