.row
  .col-md-12
    .page-header
      %h1
        -if @commercial.new_record?
          New
        Commercial
.row
  .col-md-8
    = semantic_form_for(@commercial, :url => (@commercial.new_record? ? admin_conference_commercials_path : admin_conference_commercial_path(@conference.short_title, @commercial))) do |f|
      = f.input :commercial_type, as: :select, label: 'Conference Promo Media Type', input_html: { class: 'select-help-toggle' }, collection: CONFIG['commercial_types'].values, include_blank: false, hint: 'This media-item will be used to represent this conference at various places in OSEM.'
      = f.input :commercial_id, label: 'Conference Promo Media ID', as: :string
      = render partial: 'commercials/commercial_help'
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
