.row
  .col-md-12
    .page-header
      %h1 Commercials
      %p.text-muted
        Conference commercials will be displayed on the events in the
        = link_to "schedule,", schedule_conference_path(@conference.short_title)
        if the event speaker didn't add an event commercial.
- @commercials.each_slice(3) do |slice|
  .row
    - slice.each do |commercial|
      .col-md-4
        .thumbnail
          %h3.text-center
            = commercial.commercial_type
          .flexvideo
            = render partial: 'shared/media_item', locals: { commercial_type: commercial.commercial_type, commercial_id: commercial.commercial_id }
          .caption
            - if can? :update, commercial
              = link_to 'Edit', edit_admin_conference_commercial_path(@conference.short_title, commercial.id), class: 'btn btn-primary'
            - if can? :destroy, commercial
              = link_to 'Delete', admin_conference_commercial_path(@conference.short_title, commercial.id),
                method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
.row
  .col-md-12.text-right
    - if can? :create, @conference.commercials.new
      = link_to 'Add Commercial', new_admin_conference_commercial_path, class: 'btn btn-primary'
