.nested-fields
  = f.inputs do
    = f.input :title, :required => true
    = f.input :description, :input_html => {:rows => 3, :class => "span6"}
    = f.input :color, :input_html => {:size => 6, :type => "color"}
    = remove_association_link :difficulty_level, f