= form_for(@difficulty_level, url: (@difficulty_level.new_record? ? admin_conference_program_difficulty_levels_path : admin_conference_program_difficulty_level_path(@conference.short_title, @difficulty_level))) do |f|
  .form-group
    = f.label :title
    %abbr{title: 'This field is required'} *
    = f.text_field :title, autofocus: true , required: true, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, rows: 3, class: 'span6 form-control'
  .form-group
    = f.label :color
    = f.color_field :color, class: 'form-control'
  %p.text-right
    = f.submit nil, class: 'btn btn-primary'
