.container-fluid
  .row-fluid
    .span3
      = render 'admin/conference/sidebar', :activated => "Difficulty Levels"
    .span9
      = semantic_form_for(@conference, :url => admin_conference_difficulty_levels_path(@conference.short_title)) do |f|
        = f.input :use_difficulty_levels, :label => false
        = dynamic_association :difficulty_levels, "Difficulty_Levels", f
        = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}