.schedule-content
  .unscheduled
    Unscheduled Events
    #test1.schedule-event
      Test
    #test2.schedule-event
      Test2
  .schedule
    .tabbable
      %ul.nav.nav-tabs
        - @dates.each do |date|
          -if date == @dates.first
            %li.active
              = link_to "#{date}", "##{date}-content", "data-toggle"=>"tab"
          - else
            %li
              = link_to "#{date}", "##{date}-content", "data-toggle"=>"tab"
      .tab-content
        - @dates.each do |date|
          - if date == @dates.first
            .tab-pane.active{:id => "#{date}-content"}
              = render 'day_tab'
          - else
            .tab-pane{:id => "#{date}-content"}
              = render 'day_tab'

:javascript
  $(document).ready( function() {
      $('.schedule-track-column').droppable({
      accept: '.schedule-event',
      drop: function(event, ui) {
          var evtName = ui.draggable.text();
          var evtDay = $(this).attr('title');
          alert('Moved \'' + evtName + '\' to ' + evtDay);
      }
      });
      $('.schedule-event').draggable({
      grid: [150,20],
      containment: '.schedule-content',
      opacity: 0.7,
      zIndex: 2
      });
  });