%h1 Photos
- @photos.each_slice(3) do |slice|
  .row.row-flex.row-flex-wrap
    - slice.each do |photo|
      .col-md-4
        .thumbnail.flex-col
          %h3.text-center
            = photo.picture_file_name
          = image_tag(photo.picture(:large), class: 'img-responsive', title: photo.description)
          .caption.flex-grow
          .caption
            = link_to edit_admin_conference_photo_path(@conference.short_title, photo.id), class: 'btn btn-primary' do
              %i.fa.fa-pencil-square-o
                Edit
            = link_to admin_conference_photo_path(@conference.short_title, photo.id), method: :delete, class: 'btn btn-danger' do
              %i.fa.fa-times-circle
                Delete
.row{'style'=>'padding-top: 10px;'}
  .col-md-12
    = link_to 'New Photo', new_admin_conference_photo_path, class: 'btn btn-primary'
