.row
  .col-md-12
    .page-header
      %h1 Program
- if @program
  .row
    .col-md-12
      %dl.dl-horizontal
        - if @cfp
          %dt
            Start Date:
          %dd#start_date
            = @cfp.start_date.strftime('%A, %B %-d. %Y')
          %dt
            End Date:
          %dd#end_date
            = @cfp.end_date.strftime('%A, %B %-d. %Y')
          %dt
            Days Left:
          %dd
            = pluralize(@cfp.remaining_days, 'day')
        %dt
          Event types:
        %dd
          = event_types_sentence(@conference)
        %dt
          Tracks:
        %dd
          = tracks(@conference)
        %dt
          Difficulty Levels:
        %dd
          = difficulty_levels(@conference)
        %dt
          Languages:
        %dd
          - if @program.languages.present?
            = @program.languages_list.to_sentence
          - else
            Any Language
        %dt
          Public Schedule
        %dd#schedule_public
          - if @program.schedule_public
            Yes
          - else
            No
        %dt
          Schedule changeable?
        %dd#schedule_changes
          - if @program.schedule_fluid
            Yes
          - else
            No
        %dt
          Schedule interval
        %dd
          = @program.schedule_interval
          minutes

        %h3 Voting Options
        %hr
        %dt
          Rating Levels
        %dd#rating
          = @program.rating

        %dt Blind Voting
        %dd#blind_voting
          = @program.blind_voting

        %dt Voting Start Date
        %dd= format_datetime(@program.voting_start_date)

        %dt Voting End Date
        %dd= format_datetime(@program.voting_end_date)

  .row
    .col-md-12.text-right
      - if can? :edit, @program
        = link_to edit_admin_conference_program_path(@conference.short_title), class: 'btn btn-primary' do
          Edit
      - if can? :destroy, @program
        = link_to admin_conference_program_path(@conference.short_title), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this program?' } do
          Delete
