.row
  .col-md-8
    = semantic_form_for(@conference, :url => admin_conference_path(@conference.short_title),:html => {:multipart => true}) do |f|
      = f.input :title, :hint => "The full name of the conference, such as 'openSUSE Conference 2013'"
      = f.input :short_title, :hint => "A short title, such as 'osc2013', to be used in URLs"
      = f.input :color, :hint => "The color will be used eg for the dashboard.", :input_html => {:size => 6, :type => "color"}
      - if !@conference.logo.blank?
        = image_tag @conference.logo(:thumb)
      = f.input :logo, :label => "Conference Logo", :hint => "This will be displayed on the front page."
      = f.inputs :name => "Scheduling" do
        = f.input :timezone, :as => :time_zone, :hint => "The conference time zone"
        = f.input :start_date, :as => :string, :input_html => { :id => "conference-start-datepicker", :readonly => "readonly"  }
        = f.input :end_date, :as => :string, :input_html => { :id => "conference-end-datepicker", :readonly => "readonly"  }
      = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
