<div class="nested-fields">
    <%= f.inputs do %>
      <%= image_tag(f.object.picture(:thumb)) unless f.object.picture.blank? %>
      <%= f.input :picture, hint: 'This photo will appear in the gallery of the splash
      so please give photos of banner sizes' %>
      <%= f.input :description, :input_html => {:rows => 2 }, hint: 'This description will appear
      at the bottom of each photo' %>
      <%= remove_association_link :photo, f %>
    <% end %>
</div>
