- if recent_events && !recent_events.empty?
  .table-responsive
    %table.table
      %thead
        %tr
          %th #
          %th Submitter
          %th Title
          %th Conference
          %th Status
        - recent_events.each_with_index do |event, index|
          %tbody
            %tr
              %td #{index + 1}
              %td #{event.submitter.name}
              %td #{event.title}
              %td #{event.conference.title}
              %td
                .span{'class'=>label_for(event.state)} #{event.state.humanize}
- else
  %h5.text-warning.text-center
    No submissions!
