.well.sidebar-nav
  %ul.nav.nav-pills.nav-stacked
    %li{:class=> active_nav_li(admin_conference_path(@conference.short_title))}
      = link_to t('.conference'), admin_conference_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_venue_info_path(@conference.short_title))}
      = link_to t('.venue'), admin_conference_venue_info_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_callforpapers_path(@conference.short_title))}
      = link_to t('.cfp'), admin_conference_callforpapers_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_rooms_path(@conference.short_title))}
      = link_to t('.rooms'), admin_conference_rooms_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_tracks_path(@conference.short_title))}
      = link_to t('.tracks'), admin_conference_tracks_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_eventtypes_path(@conference.short_title))}
      = link_to t('.event_types'), admin_conference_eventtypes_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_difficulty_levels_path(@conference.short_title))}
      = link_to t('.difficulty_levels'), admin_conference_difficulty_levels_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_social_events_path(@conference.short_title))}
      = link_to t('.social_events'), admin_conference_social_events_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_supporter_levels_path(@conference.short_title))}
      = link_to t('.supporter_levels'), admin_conference_supporter_levels_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_emails_path(@conference.short_title))}
      = link_to t('.emails'), admin_conference_emails_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_questions_path(@conference.short_title))}
      = link_to t('.questions'), admin_conference_questions_path(@conference.short_title)
    %li{:class=> active_nav_li(admin_conference_volunteers_info_path(@conference.short_title))}
      = link_to t('.volunteers'), admin_conference_volunteers_info_path(@conference.short_title)
