.list-group
  %li.list-group-item
    %h4
      Conference progress
    .progress
      .progress-bar{ 'role'=>'progressbar', 'aria-valuenow'=>"#{conference_progress['process']}", 'aria-valuemin'=>'0',
                    'aria-valuemax'=>'100', 'style'=>"width: #{conference_progress['process']}%;" }
        = conference_progress['process'] + '%'
  %li{'class'=>class_for_todo(conference_progress['registration'])}
    %span{'class'=>icon_for_todo(conference_progress['registration'])}
    - if can? :update, @conference.registrations.build
      = link_to 'Set up registration period', edit_admin_conference_path(conference_progress['short_title'], :anchor => 'conference-end-datepicker')
    - else
      Set up registration period
  %li{'class'=>class_for_todo(conference_progress['cfp'])}
    %span{'class'=>icon_for_todo(conference_progress['cfp'])}
    - if can? :update, CallForPapers.new(conference_id: @conference.id)
      = link_to 'Set up call for papers', admin_conference_callforpapers_path(conference_progress['short_title'])
    - else
      Set up call for papers
  %li{'class'=>class_for_todo(conference_progress['venue'])}
    %span{'class'=>icon_for_todo(conference_progress['venue'])}
    - if can? :update, @conference.venue
      = link_to 'Add venue', admin_conference_venue_info_path(conference_progress['short_title'])
    - else
      Add venue
  %li{'class'=>class_for_todo(conference_progress['rooms'])}
    %span{'class'=>icon_for_todo(conference_progress['rooms'])}
    - if can? :update, @conference.rooms.build
      = link_to 'Add rooms', admin_conference_rooms_path(conference_progress['short_title'])
    - else
      Add rooms
  %li{'class'=>class_for_todo(conference_progress['tracks'])}
    %span{'class'=>icon_for_todo(conference_progress['tracks'])}
    - if can? :update, @conference.tracks.build
      = link_to 'Add tracks', admin_conference_tracks_path(conference_progress['short_title'])
    - else
      Add tracks
  %li{'class'=>class_for_todo(conference_progress['event_types'])}
    %span{'class'=>icon_for_todo(conference_progress['event_types'])}
    - if can? :update, @conference.event_types.build
      = link_to 'Add event types', admin_conference_event_types_path(conference_progress['short_title'])
    - else
      Add event types
  %li{'class'=>class_for_todo(conference_progress['difficulty_levels'])}
    %span{'class'=>icon_for_todo(conference_progress['difficulty_levels'])}
    - if can? :update, @conference.difficulty_levels.build
      = link_to 'Add difficulty levels', admin_conference_difficulty_levels_path(conference_progress['short_title'])
    - else
      Add difficulty levels
  %li{class: class_for_todo(conference_progress['make_conference_public'])}
    %span{'class'=>icon_for_todo(conference_progress['make_conference_public'])}
    - if can? :update, @conference
      = link_to 'Make Splash Page Public for Visitors', edit_admin_conference_path(conference_progress['short_title'])
    - else
      Make Splash Page Public for Visitors
