.col-sm-4
  .dashbox.well.well-sm.text-center
    .icon
      %i.glyphicon.glyphicon-user
    .text
      %label.text-muted total user: #{@total_user}
      %label.text-muted new user: #{@new_user}
.col-sm-4
  .dashbox.well.well-sm.text-center
    .icon
      %i.glyphicon.glyphicon-star
    .text
      %label.text-muted total registrations: #{@total_reg}
      %label.text-muted new registrations: #{@new_reg}
.col-sm-4
  .dashbox.well.well-sm.text-center
    .icon
      %i.glyphicon.glyphicon-comment
    .text
      %label.text-muted total submissions: #{@total_submissions}
      %label.text-muted new submissions: #{@new_submissions}