.row
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-user
      .text
        %var
          = total_user
        %label.text-muted total user
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-thumbs-up
      .text
        %var
          = new_user
        %label.text-muted new user
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-heart-empty
      .text
        %var
          = active_user
        %label.text-muted active user
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-star
      .text
        %var
          = total_reg
        %label.text-muted total registrations
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-usd
      .text
        %var
          = new_reg
        %label.text-muted new registrations
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-comment
      .text
        %var
          = submissions_count
        %label.text-muted submissions