#main-display
  - if @conference.present?
    %section#main-heading
      .container
        .row
          .col-md-12.text-center
            %h1
              = @conference.title
            - if @conference.description.present?
              %h3
                = @conference.description
  - if @program.present?
    %section#event-display
      = render 'current_events'
  - if @conference.contact.social_tag.present?
    %section#tweets-display
      - if @tweets.present?
        = render 'conference_tweets'
  - if @sponsors.any?
    %section#sponsor-display
      = render 'sponsors'
