- if @conference.present?
  .row
    .col-md-12.text-center
      %h1
        = @conference.title
      - if @conference.description.present?
        %h3
          = @conference.description
  - if @current_event_schedules.present?
    .row#current-events
      = render 'current_events'
  - if @conference.contact.social_tag.present? && @tweets.any?
    .row#conference-tweets
      = render 'conference_tweets'
  - if @sponsors.any?
    = render 'sponsors'
