.row
  .col-md-8
    = semantic_form_for(@conference, :url => admin_conference_path(@conference.short_title),:html => {:multipart => true}) do |f|

      = f.input :make_conference_public, hint: 'This will enable the visitors to view the splash page(the "View Conference" button will be visible now on the home page), it is recommended to enable this after you have finished setting up all the components for display'
      = f.input :include_program_in_splash, hint: 'On setting this true you will enable the program component to be displayed on the splash page.This component includes tracks, keynote speakers and the schedule'
      = f.input :title, :hint => "The full name of the conference, such as 'OpenSUSE Conference 2013'"
      = f.input :short_title, :hint => "A short title, such as 'osc2013', to be used in URLs"
      = f.input :social_tag, :hint => "The hashtag you'll use on Twitter and Google+.  Don't include the '#' sign!'"
      = f.input :contact_email, :hint => "Contact email address for your conference. Will be used as reply-to address in emails sent out by the system."
      = f.input :color, :hint => "The color will be used eg for the dashboard.", :input_html => {:size => 6, :type => "color"}
      = f.inputs name: 'Banner for Splash' do
        = f.input :include_banner_in_splash, hint: 'This enable the Banner Photo with description to be displayed on the splash'
        = f.input :banner_photo, hint: 'This will be the top most component of the splash.This background cover will contain start_date and end_date of the conference and the description'
        = f.input :description, hint: markdown_hint("This description will be shown at the bottom of the banner photo of the Splash."), input_html: { rows: 6, data: { provide: "markdown-editable" } }

      = f.inputs :name => "Scheduling" do
        = f.input :timezone, :as => :time_zone, :hint => "The conference time zone"
        = f.input :start_date, :as => :string, :input_html => { :id => "conference-start-datepicker", :readonly => "readonly"  }
        = f.input :end_date, :as => :string, :input_html => { :id => "conference-end-datepicker", :readonly => "readonly"  }
      = f.inputs name: 'Registration' do
        = f.input :include_registrations_in_splash, hint: 'On setting this true you will enable the registrations to be displayed on the splash page'
        = f.input :registration_start_date, :as => :string, :input_html => { :id => "conference-reg-start-datepicker", :readonly => "readonly"  }
        = f.input :registration_end_date, :as => :string, :input_html => { :id => "conference-reg-end-datepicker", :readonly => "readonly"  }
        = f.input :registration_description, hint: markdown_hint("This description will appear in registration segment of the splash."), input_html: { rows: 6, data: { provide: "markdown-editable" } }
      = f.input :ticket_description, hint: markdown_hint("This will appear in the Tickets segment of the splash."), input_html: { rows: 6, data: { provide: "markdown-editable" } }
      = f.input :sponsor_description, hint: markdown_hint("This will appear in the sponsor segment of the splash."), input_html: { rows: 6, data: { provide: "markdown-editable" } }
      = f.input :sponsor_email, hint: 'This will appear in the sponsor segment of the splash for the sponsors to contact to the organizers'
      = f.input :lodging_description, hint: markdown_hint("This will appear in the lodging segment of the splash."), input_html: { rows: 6, data: { provide: "markdown-editable" } }

      = dynamic_association :photos, "Photos", f

      = f.inputs :name => 'Social Media' do
        - if !@conference.logo.blank?
          = image_tag @conference.logo(:thumb)
        = f.input :include_social_media_in_splash, hint: 'On setting this true you will enable the social media links to be displayed on the splash page'
        = f.input :logo, :label => "Conference Logo", :hint => "This will be displayed on the front page."
        = f.input :media_type, :as => :select, :label => "Conference Promo Media Type", :class=>"form-control", :collection => Conference.media_types.values, :include_blank => false, :hint => "This media-item will be used to represent this conference at various places in OSEM."
        = f.input :media_id, :label => "Conference Promo Media ID", :as => :string
        %p{:class => "help-block media-type", :id => "youtube-help"} Go to your YouTube video, click on "share" and copy everything behind http://youtu.be/"
        %p{:class => "help-block media-type", :id => "slideshare-help", :style => "display:none"} Go to your SlideShare, click on "share" -> "embed" and copy the id
        %p{:class => "help-block media-type", :id => "flickr-help", :style => "display:none"} Go to your flickr image, click on "Grab the link" -> "Show short url" and copy everything behind https://flic.kr/p/
        %p{:class => "help-block media-type", :id => "vimeo-help", :style => "display:none"} Go to your vimeo video, click on "share" and copy everything behind http://vimeo.com/
        %p{:class => "help-block media-type", :id => "speakerdeck-help", :style => "display:none"} Go to your SpeakerDeck, click on "share" -> "embed" and copy the data-id
        %p{:class => "help-block media-type", :id => "instagram-help", :style => "display:none"} Go to your Instagram photo page and copy everything behind instagram.com/p/ (without trailing /# hash symbol)
        = f.input :facebook_url, hint: 'This will appear in the social media section as link to the Facebook page of your Conference'
        = f.input :google_url, label: 'Google+ Url', hint: 'This will appear in the social media section as the link to the Google+ Page of your Conference'
        = f.input :twitter_url, hint: 'This will appear in the social media section as the link to   the Twitter Page of your Conference'
        = f.input :instagram_url, hint: 'This will appear in the social media section as the link to   the Instagram Page of your Conference'
      = f.action :submit, :as => :button, :button_html => {:class => "btn btn-primary"}
