.row
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-user
      .text
        %var
          = @total_user
        %label.text-muted total user
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-thumbs-up
      .text
        %var
          = @new_user
        %label.text-muted new user
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-heart-empty
      .text
        %var
          = @active_user
        %label.text-muted active user
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-star
      .text
        %var
          = @total_reg
        %label.text-muted total registrations
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-usd
      .text
        %var
          = @new_reg
        %label.text-muted new registrations
  .col-sm-2
    .dashbox.well.well-sm.text-center
      .icon
        %i.glyphicon.glyphicon-comment
      .text
        %var
          = @submissions_count
        %label.text-muted submissions
.row
  .col-md-12
    .well#submissions
      .row
        .text-center
          %h4 Event submissions over time
      .row
        .submissionsChart{"data-chart"=>"#{@submissions.to_json}", "data-conferences"=>"#{@conferences.to_json}", "data-weeks"=>"#{@cfp_weeks.to_json}"}
          %canvas#submissionsChart{"data-name"=>"submissions"}
      .row
        .text-center
          weeks
      .row
        .conferenceCheckboxes#submissionsCheckboxes
          - @conferences.each do |conference|
            %div
              %span{"style"=>"border-bottom: 3px solid #{conference.color};", "data-chart"=> "submissions"}
                - if conference.pending?
                  %input{"type"=>"checkbox", "name"=>"#{conference.short_title}", "checked"=>"checked"}
                - else
                  %input{"type"=>"checkbox", "name"=>"#{conference.short_title}"}
                #{conference.short_title}
.row
  .col-md-12
    .well#registrations
      .row
        .text-center
          %h4 Conference registrations over time
      .row
        .registrationsChart{"data-chart"=>"#{@registrations.to_json}", "data-conferences"=>"#{@conferences.to_json}", "data-weeks"=>"#{@registration_weeks.to_json}"}
          %canvas#registrationsChart{"data-name"=>"registrations"}
      .row
        .text-center
          weeks
      .row
        .conferenceCheckboxes#registrationsCheckboxes
          - @conferences.each do |conference|
            %div
              %span{"style"=>"border-bottom: 3px solid #{conference.color};", "data-chart"=> "registrations"}
                - if conference.pending?
                  %input{"type"=>"checkbox", "name"=>"#{conference.short_title}", "checked"=>"checked"}
                - else
                  %input{"type"=>"checkbox", "name"=>"#{conference.short_title}"}
                #{conference.short_title}
