.row
  .col-md-6.col-md-offset-3
    = semantic_form_for(@conference, :url => admin_conference_index_path) do |f|
      = f.inputs t ".basic_info" do
        = f.input :title, :hint => t('.title_hint')
        = f.input :short_title, :hint => t('.short_title_hint')
        = f.input :social_tag, :hint => t('.social_tag_hint')
        = f.input :contact_email, :hint => t('.contact_email_hint')
      = f.inputs "Scheduling" do
        = f.input :timezone, :as => :time_zone, :hint => t('.timezone_hint')
        = f.input :start_date, :as => :string, :input_html => { :id => "conference-start-datepicker", :readonly => "readonly"  }
        = f.input :end_date, :as => :string, :input_html => { :id => "conference-end-datepicker", :readonly => "readonly"  }
      = f.actions do
        = f.action :submit, button_html: {class: 'btn btn-success pull-right'}
