.row
  .col-md-12
    .page-header
      %h1
        - if track_type.new_record?
          New
        Track Type
        = track_type.title
.row
  .col-md-12
    = semantic_form_for(track_type,
     url: (track_type.new_record? ? admin_conference_program_track_types_path : admin_conference_program_track_type_path(conference,
     track_type))) do |f|
      = f.input :title, input_html: { autofocus: true }
      = f.input :description
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
