.container
  .row
    .col-md-12
      .page-header
        %h1 
          Edit your profile 
          = link_to 'My Profile', user_path(@user), class: 'btn btn-primary pull-right'
  .row
    .col-md-12
      %ul.nav.nav-pills
        %li.active
          = link_to 'Personal Info', edit_user_path({ tab: 'personal_info' }), remote: true, id: 'personal_info'
        %li
          = link_to 'Social Media', edit_user_path({ tab: 'social_media' }), remote: true, id: 'social_media'
        %li
          = link_to 'Social Code', edit_user_path({ tab: 'social_code' }), remote: true, id: 'social_code'
      %br/
      #form
        = render partial: 'personal_info_fields', locals: { user: @user }
