.container
  .row
    .col-md-12
      .page-header
        %h1 Edit your profile
  .row
    .col-md-12
      = semantic_form_for(@user, url: user_path(@user.id)) do |f|
        = f.input :name, as: :string
        = f.input :nickname, as: :string
        .control-label
          = "Avatar"
        = image_tag(@user.gravatar_url(size: '48'), title: "Yo #{@user.name}!", :alt => '')
        = link_to 'Change your avatar here', 'https://gravatar.com'
        = f.input :affiliation, as: :string,
          hint: 'This could be a company, a user group, or nothing at all.'
        = f.input :website_url, type: :url, label: 'Personal Website'
        = f.inputs :name => 'Social Media' do
          = f.input :linkedin, type: :url, as: :string,
            hint: 'e.g. https://linkedin.com/osem'
          = f.input :twitter, type: :url, as: :string,
            hint: 'e.g. https://twitter.com/osem'
          = f.input :googleplus, type: :url, label: 'Google+ Url', as: :string,
            hint: 'e.g. https://googleplus.com/798239DR45'
          = f.input :gnu, type: :url, label: 'GNU Social', as: :string,
            hint: 'e.g. https://gnu.io/osem'
          = f.input :diaspora, type: :url, as: :string,
            hint: 'e.g http://joindiaspora.com/osem'
        = f.inputs :name => 'Social Code' do
          = f.input :github, type: :url, as: :string,
            hint: 'e.g http://github.com/osem'
          = f.input :gitlab, type: :url, as: :string,
            hint: 'e.g http://gitlab.com/osem'
          = f.input :savannah, type: :url, as: :string,
            hint: 'e.g http://savannah.gnu.org/osem'
          = f.input :gna, type: :url, label: 'Gna!', as: :string,
            hint: 'e.g http://gna.com/osem'
        = f.input :biography, input_html: { rows: 5, data: { provide: 'markdown-editable' }, 'onkeyup' => "word_count(this, 'biography-count', 150)" },
          hint: markdown_hint
        You have used
        %span#bio_length
          = @user.biography ? @user.biography.split.length : 0
        words.  Biographies are limited to 150 words.
        %br
        %br
        = f.action :submit, as: :button, label: 'Update', button_html: {class: 'btn btn-primary'}
