.container
  .row
    .col-md-12
      .page-header
        %h1 Edit your profile
  .row
    .col-md-12
      = semantic_form_for(@user, url: user_path(@user.id)) do |f|
        = f.input :name, as: :string, hint: 'This is your real name.'
        = f.input :nickname, as: :string, hint: 'This is how the other users see you, not your real name'
        .control-label
          = "Avatar"
        = image_tag(@user.profile_picture(size: '48'), title: "Yo #{@user.name}!", alt: '')
        = link_to 'Change your avatar here', 'https://gravatar.com'
        %p
          Or upload a picture.
        = f.input :picture, hint: 'If you upload a picture, it will be used in place of Gravatar.'
        - if @user.picture?
          %p
            Current Picture
            %br
            = image_tag(@user.picture.thumb.url, width: '20%')

        = f.input :affiliation, as: :string,
          hint: 'This could be a company, a user group, or nothing at all.'
        = f.input :biography, input_html: { rows: 5, data: { provide: 'markdown' } },
          hint: markdown_hint
        You have used
        %span#bio_length
          = @user.biography ? @user.biography.split.length : 0
        words.  Biographies are limited to 150 words.
        %br
        %br
        = f.action :submit, as: :button, label: 'Update', button_html: {class: 'btn btn-primary'}
