.container
  .row
    .col-md-12
      .page-header
        %h1
          = image_tag(@user.profile_picture(size: '48'), title: "Yo #{@user.name}!", alt: '')
          = @user.name
          %small
            = @user.nickname
      %p
        = markdown(@user.biography)
  .row
    .col-md-12
      - if @user.presented_events.confirmed.any?
        %h3
          = "#{@user.name} presents #{pluralize(@user.presented_events.confirmed.count, 'Event')}:"
        %ul.list-unstyled
          - @user.presented_events.confirmed.each do |event|
            %li
              %h4
                = link_to event.title, conference_program_proposal_path(event.program.conference.short_title, event.id)
                %strong
                  at
                = event.program.conference.title
