%h1
  = @user.name
%h4
  = @user.biography

- if @user.events.confirmed.any?
  %h3
    = "#{@user.name} presents #{pluralize(@user.events.confirmed.count, 'Event')}:"
  %ul.list-unstyled
    - @user.events.confirmed.each do |event|
      %li
        %h4
          = link_to event.title, conference_proposal_path(event.conference.short_title, event.id)
          %strong
            at
          = event.conference.title