.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Change your password
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
            = f.hidden_field :reset_password_token
            = f.input :password, input_html: { autofocus: true, required: true, autocomplete: "off"}, label: 'New password'
            = f.input :password_confirmation, input_html: { required: true, autocomplete: "off" }, label: 'New password confirmation'
            %p.text-right
              = f.action :submit, as: :button, label: 'Change my password', button_html: { class: 'btn btn-success' }

          = render partial: 'devise/shared/help'
