- cache [@conference.confirmed_booths, '#splash#booths'] do
  %section#booths
    .container
      .row
        .col-md-12.text-center
          %h2 Booths
      .row.row-centered
        - @conference.confirmed_booths.each do |booth|
          .col-md-4.col-sm-4.col-centered.col-top
            .thumbnail.text-center
              - if booth.picture?
                = link_to booth.website_url,
                  class: 'thumbnail', target: '_blank' do
                  = image_tag booth.picture.large.url, alt: booth.title,
                    class: 'img-rounded'
              .caption
                %h3.text-center
                  - if booth.logo_link
                    = link_to booth.title, booth.website_url, target: '_blank'
                  -else
                    = booth.title
                  = link_to '', "#booth-detail-#{booth.id}",
                    data: {toggle: 'collapse'}, class: 'caret',
                    title: 'more info'
                .collapse{ id: "booth-detail-#{booth.id}" }
                  = markdown(booth.description)
