= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#callforpapers' } Call For Papers

- cache [@conference, @conference.call_for_events, @conference.confirmed_tracks,
  '#splash#callforpapers'] do
  %section#callforpapers
    .container
  .row
    .col-md-12.text-center
      %h2
        Call for Papers
      %p.lead
        We are ready to accept your proposals for sessions!
  .row
    .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
      %p
        - if @conference.event_types.any?
          You can submit proposals for
          %span.notranslate
            = "#{event_types(@conference)}."
        - if @conference.confirmed_tracks.any?
          Proposals should fit in one of the
          %span.notranslate
            = "#{pluralize(@conference.confirmed_tracks.length, 'track')}:"
            = "#{tracks(@conference)}."
        - if @conference.call_for_events.try(:open?)
          The submission period is open
          %em.notranslate
            = "#{date_string(@conference.call_for_events.start_date,
              @conference.call_for_events.end_date)}."
          %b
            You have
            = pluralize(@conference.call_for_events.remaining_days, 'day')
            left!
          Remember
          %span.notranslate
            = @conference.title
          will only be as good as the sessions you present.
          Submit early, submit often!
        - else
          The submission period is closed.
  .row
    .col-md-12.text-center
      %p.cta-button
        = link_to "Submit your paper now",
          conference_program_proposals_path(@conference.short_title),
          class: 'btn btn-success btn-lg text-center'
