- cache [conference, venue, '#splash#header'] do
  #banner{ style: ("background-image: url(#{conference.picture_url})" if conference.picture_url) }
    .container
      - if user_signed_in?
        - if current_user.ticket_purchases.by_conference(@conference).empty?
          .alert.bg-info{ :role => "alert", :style => "margin-bottom: 100px" }
            You have not purchased any tickets for this conference yet.
            = link_to "Book your tickets now!",  "#tickets"
      .row
        .col-md-6.col-md-offset-3{ id: (conference.picture? ? "header-image" : "header-no-image") }
          .row
            -#
              - if conference.picture?
                .col-md-4
                  = image_tag(conference.picture_url,
                    class: 'img-responsive img-center',
                    id: 'splash-logo')
            .col-md-8
              %h1
                = conference.title.html_safe
              %h3
                - if conference.start_date && conference.end_date
                  %span.date.text-nowrap
                    = date_string(conference.start_date, conference.end_date)
                - if conference.venue
                  %span.venue.text-nowrap
                    - if venue.website.present?
                      = sanitize link_to(venue.name, venue.website)
                    - else
                      = venue.city
                      - if venue.country != 'US'
                        &bull;
                        = venue.country_name
