- content_for :modals do
  - cache [object, '#modal'] do
    .modal.fade{ id: "modal-#{object.class.name.downcase}-#{object.id}" }
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{ data: { dismiss: 'modal' } }
              %i.fa.fa-close
            %h3.modal-title
              = object.try(:title) || object.try(:name)
          .modal-body
            %p.logo
              = link_to object.website_url || '#', target: '_blank' do
                - img_classes = ['img-responsive center-block']
                - if object.is_a? Sponsor
                  - img_classes << ['img-sponsor',
                    "img-sponsor-#{object.sponsorship_level.position}"]
                - if object.picture?
                  = image_tag get_logo(object), class: img_classes
            %p.description
              = markdown(object.description)
          .modal-footer
            = link_to nil, object.website_url, target: '_blank'
