- cache [contact, '#splash#social'] do
  %section#social-media
    .container
      .row
        .col-md-12.text-center
          - if contact.blog?
            = link_to "#{ contact.blog }" do
              %i.fa-solid.fa-square-rss.fa-4x
          - if contact.facebook?
            = link_to "#{ contact.facebook }" do
              %i.fa-brand.fa-facebook.fa-4x
          - if contact.twitter?
            = link_to "#{ contact.twitter }" do
              %i.fa-brand.fa-twitter.fa-4x
          - if contact.instagram?
            = link_to "#{ contact.instagram }" do
              %i.fa-brand.fa-instagram.fa-4x
          - if contact.googleplus?
            = link_to "#{ contact.googleplus }" do
              %i.fa-brand.fa-google-plus.fa-4x
          - if contact.mastodon?
            = link_to "#{ contact.mastodon }" do
              %i.fa-brand.fa-mastodon.fa-4x
          - if contact.youtube?
            = link_to "#{ contact.youtube }" do
              %i.fa-brand.fa-youtube.fa-4x
          - if contact.email?
            = mail_to "#{ contact.email }" do
              %i.fa-solid.fa-envelope.fa-4x
