= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#sponsors' } Sponsors

- cache [conference, conference.sponsors, conference.sponsorship_levels,
  conference.try(:call_for_sponsors), '#splash#sponsors'] do
  %section#sponsors
    .container
      - conference.sponsorship_levels.each do |sponsorship_level|
        - if sponsorship_level.sponsors.any?
          .row.text-center
            %h3
              = sponsorship_level.title
              = 'Sponsor'.pluralize(sponsorship_level.sponsors.length)
          .row.row-centered
            - sponsorship_level.sponsors.each do |sponsor|
              .col-md-4.col-sm-4.col-centered.col-top
                %a{ href: '#', data: { toggle: 'modal',
                  target: "#modal-sponsor-#{sponsor.id}" } }
                  = image_tag get_logo(sponsor),
                    class: ['img-responsive', 'img-sponsor',
                    "img-sponsor-#{sponsorship_level.position}"],
                    title: sponsor.name
              - content_for :modals do
                = render 'modal_description', object: sponsor

      - if conference.call_for_sponsors.try(:open?)
        .row
          .col-md-12
            %p.text-muted.text-center
              %small
                Want to sponsor #{conference.short_title}?
                = link_to(sponsorship_mailto(conference)) do
                  Please contact us!
