- content_for :head do
  %meta{ property: "og:title", content: @conference.title }
  %meta{ property: "og:site_name", content: (ENV['OSEM_NAME'] || 'OSEM') }
  %meta{ property: "og:description", content: plain_text(@conference.description) }
  %meta{ property: "og:url", content: conference_url(@conference.short_title) }
  %meta{ property: "twitter:title", content: (@conference.title) }
  %meta{ property: "twitter:description", content: plain_text(@conference.description) }
  - if @conference.picture?
    %meta{ property: "og:image", content: @image_url }
    %meta{ property: "og:image:secure_url", content: @image_url }
    %meta{ property: "twitter:card", content: "summary_large_image" }
    %meta{ property: "twitter:image", content: @image_url }
  - else
    %meta{ property: "twitter:card", content: "summary" }

= content_for :title do
  = @conference.title

= content_for :additional_messages do
  - if @unpaid_tickets
    .row
      .col-md-12
        .alert.alert-dismissable.alert-info.text-center#unpaid-tickets{ role: 'alert' }
          %button.button.close{ "data-dismiss" => "alert", "aria-label"=>"close" }
            &times;
          %p
            You have unpaid tickets. Please complete your purchase.
            = link_to('Purchase Tickets', new_conference_payment_path(@conference), class: 'btn btn-success btn-lg')

  - if @user_needs_to_register
    .row
      .col-md-12
        .alert.alert-dismissable.alert-warning.text-center#flash{ role: 'alert' }
          %button.button.close{ "data-dismiss" => "alert", 'aria-label': 'close' }
            &times;
          %p
            You still need to complete your registration for #{@conference.title}.
            = link_to('Complete Registration', new_conference_conference_registration_path(@conference), class: 'btn btn-success btn-lg')

#splash
  - if @conference.code_of_conduct.present?
    = render 'code_of_conduct', organization: @conference.organization

  -# header
  = render 'header', conference: @conference, venue: @conference.venue

  -# description / happening now
  %section#about-and-happening-now
    .container
      .row
        -# happening now events are displayed second in md or lg view
        .col-md-6.col-md-push-6.col-lg-4.col-lg-push-8
          #happening-now
            - if @conference.splashpage.include_happening_now
              - if @events_schedules.any?
                .row
                  %h2.text-center Happening Now
                - for event_schedule in @events_schedules
                  = render 'schedules/event', conference: @conference, event_schedule: event_schedule, event: event_schedule.event
              - else
                .row
                  %h3.text-center There are no events happening now.
        - if @conference.description.present?
          .col-md-6.col-md-pull-6.col-lg-8.col-lg-pull-4
            #about
              .row
                = markdown(@conference.description, escape_html=false)
              .trapezoid

  -# calls for content, or program
  - if @conference.splashpage.include_cfp
    = render 'call_for_content', conference: @conference,
      call_for_events: @call_for_events, call_for_tracks: @call_for_tracks,
      call_for_booths: @call_for_booths,
      event_types: @event_types, tracks: @track_names

  - if @conference.splashpage.include_program
    = render 'program', conference: @conference, tracks: @tracks,
      highlights: @highlights, booths: @booths

  -# attendance/registration
  - if @conference.splashpage.include_registrations
    - if @conference.registration_open?
      = render 'registration', conference: @conference,
        registration_period: @conference.registration_period,
        tickets: @tickets, conference_id: @conference.short_title
  - if @conference.splashpage.include_tickets && @conference.tickets.any?
    = render 'tickets', conference: @conference, tickets: @tickets

  -# geo
  - if @conference.splashpage.include_venue && @conference.venue
    = render 'venue', conference: @conference, venue: @conference.venue,
      commercial: @conference.venue.commercial
  - if @conference.splashpage.include_lodgings && @conference.lodgings.any?
    = render 'lodging', venue: @conference.venue, lodgings: @lodgings

  -# sponsorship
  - if @conference.splashpage.include_sponsors
    = render 'sponsors', conference: @conference,
      sponsorship_levels: @sponsorship_levels,
      sponsors: @sponsors

  -# footer
  - if @conference.splashpage.include_social_media
    - if @conference.contact.has_social_media?
      = render 'social_media', contact: @conference.contact
  = render 'footer'

:javascript
  var loadData = function() {
            $.ajax({
              type: 'GET',
              contentType: 'application/json; charset=utf-8',
              url: '#{@happening_now_url}',
              dataType: 'json',
              success: renderTemplate,
              failure: function(){
                console.log('error');
              }
            });
          };

  var renderTemplate = function(data) {
    console.log(data);
    console.log("template rendered");

    for (key in data) {
      event_schedule = data[key];
      console.log(event_schedule['event']);
    }
  }
