= content_for :title do
  = @conference.title

#splash
  - if @conference.splashpage
    #banner
      .container
        .row
          .col-md-8.col-md-offset-2#header
            .row
              .col-md-4
                = image_tag(@conference.picture_url, class: 'img-responsive img-center', id: 'splash-logo') if @conference.picture?
              .col-md-8
                %h1
                  = @conference.title
                %p.lead
                  - if @conference.venue
                    = "#{@conference.venue.city} / #{@conference.venue.country_name}"
                  - if @conference.start_date && @conference.end_date
                    %br
                    = date_string(@conference.start_date, @conference.end_date)

    - unless @conference.description.blank?
      %section#about
        .container
          .row
            .col-md-8.col-md-offset-2
              %h3.text-center
                = markdown(@conference.description)

    - if @conference.registration_open? and @conference.splashpage.include_registrations
      %section#registration
        = render 'registration'

    - if @conference.splashpage.include_program
      %section#program
        = render 'schedule_splashpage'

    - if @conference.program.cfp_open? and @conference.splashpage.include_cfp
      %section#callforpapers
        = render 'call_for_paper'

    - if @conference.venue and @conference.splashpage.include_venue
      %section#venue
        = render 'venue'

    - if @conference.lodgings.any? and @conference.splashpage.include_lodgings
      %section#lodging
        = render 'lodging'

    - if @conference.tickets.any? and @conference.splashpage.include_tickets and @conference.pending?
      %section#tickets
        = render 'tickets'

    - if @conference.sponsors.any? and @conference.splashpage.include_sponsors
      %section#sponsors
        = render 'sponsors'

    - if @conference.contact.has_social_media? and @conference.splashpage.include_social_media
      %section#social-media
        = render 'social_media'

    // grmbl
    = render 'footer'

- content_for :script_head do
  :javascript
    var triangle_tcs = tinycolor("#{@conference.color}").monochromatic();
    var triangle_colors = triangle_tcs.map(function(t) { return t.toHexString(); });
    $(function () {
      $(document).ready(function() {
        var triangle_width = document.body.clientWidth;
        var triangle_height = ($( "#banner" ).height() + 200 );
        var pattern = Trianglify({ width: triangle_width,
                                   height: triangle_height,
                                   cell_size: 100,
                                   x_colors: triangle_colors
                                  });
        $('#banner').css('background-image', 'url("' + pattern.png() + '")');
      });
    });
