- headers = ["#{(t'booth').capitalize } ID",
             'Title',
             'Description',
             'Reasoning',
             'Submitter Name',
             'Submitter Relationship',
             'Website Url',
             'State']
= CSV.generate_line ["All #{(t'booth').pluralize}"]
= CSV.generate_line headers
- @booths.each do |booth|
  = CSV.generate_line([booth.id,
                       booth.title,
                       booth.description,
                       booth.reasoning,
                       booth.submitter.name,
                       booth.submitter_relationship,
                       booth.website_url,
                       booth.state]).html_safe
