- if booth.transition_possible? :accept
  - if @conference.email_settings.send_on_booths_acceptance
    - link = 'Accept with email'
  - else
    - link = 'Accept booth'
  %li= link_to link,
  accept_admin_conference_booth_path(@conference.short_title, booth),
  method: :patch ,id: "accept_booth_#{booth.id}"

- if booth.transition_possible? :reject
  - if @conference.email_settings.send_on_booths_rejection
    - link = 'Reject with email'
  - else
    - link = 'Reject'
  %li= link_to link,
  reject_admin_conference_booth_path(@conference.short_title, booth),
  method: :patch, id: "reject_booth_#{booth.id}"

- if booth.transition_possible? :to_reject
  %li= link_to 'To reject booth',
  to_reject_admin_conference_booth_path(@conference.short_title, booth),
  method: :patch, id: "to_reject_booth_#{booth.id}"

- if booth.transition_possible? :restart
  %li= link_to 'Start review',
  restart_admin_conference_booth_path(@conference.short_title, booth),
  method: :patch, id: "restart_booth_#{booth.id}"

- if booth.transition_possible? :to_accept
  %li= link_to 'To accept booth',
  to_accept_admin_conference_booth_path(@conference.short_title, booth),
  method: :patch, id: "to_accept_booth_#{booth.id}"

- if booth.transition_possible? :cancel
  %li= link_to 'Cancel booth',
  cancel_admin_conference_booth_path(@conference.short_title, booth),
  method: :patch, id: "cancel_booth_#{booth.id}"
