.row
  .col-md-12
    .page-header
      %title Request a Booth
.row
  .col-md-8
    = semantic_form_for(@booth,  url: @booth.new_record? ?  admin_conference_booths_path(@conference.short_title) : admin_conference_booth_path(@conference.short_title, @booth.id), html: { multipart: true }) do |f|
      = f.input :title, as: :string, autofocus: true, required: true
      = f.input :description, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true,
        hint: 'This field becomes public upon request acceptance'
      = f.input :reasoning, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true,
        label: 'How it fits the conference'
      = f.input :submitter_relationship, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true,
        label: 'Submitter\'s relation',
        hint: 'e.g. employee, comunity manager, etc'
      = f.input :website_url
      = responsibles_selector_input f
      = image_tag f.object.picture.thumb.url if f.object.picture?
      = f.input :picture

      %p.text-right
        - if @booth.new_record?
          = f.submit 'Create Booth Request', class: 'btn btn-success'
        - else
          = f.submit 'Update Booth Request', class: 'btn btn-success'

:javascript
  $(document).ready(function() {
    $('#booth_responsible_ids').selectize({
      plugins: ['remove_button'],
      minItems: 2
    } )
  });
