.row
  .col-md-12
    .page-header
      %title Request a Booth
.row
  .col-md-8
    = semantic_form_for(@booth, url: admin_conference_booths_path(@conference.short_title), html: {multipart: true}) do |f|
      = f.input :title, as: :string, required: true
      = f.input :description, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true
      = f.input :reasoning, input_html: { rows: 5, data: { provide: 'markdown-editable' } }, required: true
      = f.input :logo_link, as: :string, required: true

      %p.text-right
        - if @booth.new_record?
          = f.submit 'Create Booth Request', class: 'btn btn-success'
        - else
          = f.submit 'Update Booth Request', class: 'btn btn-success'
