- if campaigns && !campaigns.empty?
  .row
    .col-md-12
      %p
        Your target "#{campaigns.values[0]['target_name']}" from campaign "#{campaigns.values[0]['campaign_name']}" has generated
        %strong
          #{pluralize(campaigns.values[0]['value'], campaigns.values[0]['unit'])}
        since #{campaigns.values[0]['created_at']}.
      %p
        That is
        %strong{ 'style' => "color: #{target_progress_color(campaigns.values[0]['progress'])};" }
          #{campaigns.values[0]['progress']} %
        of your target, there are
        %strong{ 'style' => "color: #{days_left_color(campaigns.values[0]['days_left'])};" }
          #{pluralize(campaigns.values[0]['days_left'], 'day')} left.
  .row
    .col-md-12
      %div{ 'style' => 'display: none;', 'id' => "#{name}" }
        - campaigns.drop(1).each do |(_key, value)|
          %div
            %p
              Your target "#{value['target_name']}" from campaign "#{value['campaign_name']}" has generated
              %strong
                #{pluralize(value['value'], value['unit'])}
              since #{value['created_at']}.
            %p
              That is
              %strong{ 'style' => "color: #{target_progress_color(value['progress'])};" }
                #{value['progress']} %
              of your target, there are
              %strong{ 'style' => "color: #{days_left_color(value['days_left'])};" }
                #{pluralize(value['days_left'], 'day')} left.
  .row
    .col-md-12
      - if campaigns.length > 1
        %a.show_targets{ 'href' => '#', 'data-name' => "#{name}" }
          more
- else
  %h5.text-warning.text-center
    No Campaigns!
