- if recent_events && !recent_events.empty?
  .table-responsive
    %table.table
      %thead
        %tr
          %th #
          %th Submitter
          %th Title
          %th Conference
          %th Status
        - recent_events.each_with_index do |event, index|
          %tbody
            %tr
              %td= index + 1
              - if event.submitter
                %td= link_to event.submitter.name, admin_user_path(event.submitter.id)
              - else
                %td Unknown Submitter
              %td= link_to event.title, admin_conference_program_event_path(event.program.conference.short_title, event)
              %td= link_to event.program.conference.title, admin_conference_path(event.program.conference.short_title)
              %td
                .span{ 'class' => label_for(event.state) } #{event.state.humanize}
- else
  %h5.text-warning.text-center
    No submissions!
