.row
  .col-md-12
    .page-header
      %h1 Basics
      %p.text-muted
        The most basic settings of your conference
.row
  .col-md-8
    = semantic_form_for(@conference, url: admin_conference_path(@conference.short_title), html: {multipart: true}) do |f|
      = f.input :title, hint: "The full title of the conference, e.g. 'openSUSE Conference 2014'"
      = f.input :short_title, hint: "A short title, e.g. 'oSC14', to be used in URLs"
      = f.input :description,
                hint: markdown_hint('A description of the conference. (Supports unsafe HTML.)'),
                input_html: { rows: 5, data: { provide: 'markdown' } }
      = f.input :color, hint: 'The will be used in emails.',
                input_html: {size: 6, type: 'color'}
      = f.label 'Conference Logo', for: 'conference_picture'
      %br
      - if @conference.picture?
        = image_tag @conference.picture.thumb.url
      = f.input :picture, label: false, hint: 'This will be shown in the navigation bar and emails.'
      = f.hidden_field :picture_cache

      = f.input :custom_css,
                hint: "Add custon CSS to all pages within the conference. The class <code>.conference-#{@conference.short_title}</code> is included on the body element.".html_safe,
                input_html: { rows: 10, style: 'font-family: monospace' }

      = f.input :ticket_layout, as: :select, collection: Conference.ticket_layouts.keys, hint: "Layout type for tickets of the conference."
      = f.inputs name: 'Scheduling' do
        = f.input :timezone, as: :time_zone, hint: 'The conference time zone'
        = f.input :start_date, as: :string, input_html: { id: 'conference-start-datepicker' }
        = f.input :end_date, as: :string, input_html: { id: 'conference-end-datepicker' }
        = f.input :start_hour, input_html: {size: 2, type: 'number', min: 0, max: 23}, hint: rescheduling_hint(@affected_event_count)
        = f.input :end_hour, input_html: {size: 2, type: 'number', min: 1, max: 24}, hint: rescheduling_hint(@affected_event_count)
      = f.inputs name: 'Registrations' do
        = f.input :registration_limit, as: :number, in: 0..9999, hint: 'Limit the number of registrations to the conference (0 no limit). Please note that the registration limit doesn\'t apply to speakers of confirmed events (they will still be able to register even if it has been reached). You currently have ' + pluralize(@conference.registrations.count, 'registration')
      = f.inputs name: 'Booths' do
        = f.input :booth_limit, as: :number, in: 0..9999,
        hint: "#{(t'booth').capitalize } limit is the maximum number of #{(t'booth').pluralize} that you can accept for this conference. By setting this number (0 no limit) you can be sure that you are not going to accept more #{(t'booth').pluralize} than the conference can accommodate. You currently have " + pluralize(@conference.booths.accepted.count, "accepted #{t'booth'}") +'.'
      = f.action :submit, as: :button, button_html: { class: 'btn btn-primary', data: { confirm: 'Are you sure you want to proceed?' } }
