= javascript_include_tag 'Chart'
.row
  .col-sm-3.col-xs-3
    = big_statistic('user', 'User', @total_user, @new_user)

  .col-sm-3.col-xs-3
    = big_statistic('check-square', 'Registration', @total_reg, @new_reg)

  .col-sm-3.col-xs-3
    = big_statistic('file-text', 'Submission', @total_submissions, @new_submission)
  .col-sm-3.col-xs-3
    = big_statistic('archive', 'Withdrawn', @total_withdrawn, @new_withdrawn, true)

.row#registrations
  .col-md-8
    = render partial: 'line_chart', locals: { title: 'Registrations over time',
                                               name: 'registrations',
                                               conferences: @conferences,
                                               active_conferences: @active_conferences,
                                               deactive_conferences: @deactive_conferences,
                                               y: @registrations,
                                               x: @registration_weeks,
                                               unit: 'weeks' }
  .col-md-4
    = render partial: 'doughnut_chart', locals: { title: 'Events', data: @event_distribution }
.row#submissions
  .col-md-8
    = render partial: 'line_chart', locals: { title: 'Submissions over time',
                                               name: 'submissions',
                                               conferences: @conferences,
                                               active_conferences: @active_conferences,
                                               deactive_conferences: @deactive_conferences,
                                               y: @submissions,
                                               x: @cfp_weeks,
                                               unit: 'weeks' }
  .col-md-4
    = render partial: 'doughnut_chart', locals: { title: 'User', data: @user_distribution }
.row#tickets
  .col-md-8
    = render partial: 'line_chart', locals: { title: 'Tickets sold over time',
                                               name: 'tickets',
                                               conferences: @conferences,
                                               active_conferences: @active_conferences,
                                               deactive_conferences: @deactive_conferences,
                                               y: @tickets,
                                               x: @ticket_weeks,
                                               unit: 'weeks' }
%br
.row
  .col-md-8
    %ul.nav.nav-tabs#recentTable
      %li.active
        %a{ href: '#recent_user', 'data-toggle' => 'tab' }
          %span.fa.fa-user
          Recent Users
      %li
        %a{ href: '#recent_reg', 'data-toggle' => 'tab' }
          %span.fa.fa-check-square
          Recent Registrations
      %li
        %a{ href: '#recent_submissions', 'data-toggle' => 'tab' }
          %span.fa.fa-file-text
          Recent Submissions
    .tab-content
      .tab-pane.active#recent_user
        = render partial: 'recent_users', locals: {recent_users: @recent_users}
      .tab-pane#recent_reg
        = render partial: 'recent_registrations', locals: {recent_registrations: @recent_registrations}
      .tab-pane#recent_submissions
        = render partial: 'recent_submissions', locals: {recent_events: @recent_events}
  .col-md-4
    = render partial: 'top_submitter', locals: {top_submitter: @top_submitter}
