%td.event{ width: "#{ width * span }%" , |
           colspan: span, |
           role: "button" }
  %a.unstyled-link{href: url_for(conference_program_proposal_path(@conference.short_title, event.id))}
    %div{ class: "elipsis break-words event-title", |
          style: "-webkit-line-clamp: #{ event_lines(@rooms) }; height: #{ event_height(@rooms) }px;"} |

      = canceled_replacement_event_label(event, event_schedule, 'schedule-label')

      = event.title

    - event.speakers_ordered.each do |speaker|
      = image_tag speaker.profile_picture, :class => "img-circle pull-right speaker-pic", |
                                        :alt => speaker.name, |
                                        :title => speaker.name, |
                                        :style => "height: #{ speaker_height(@rooms) }px; width: #{ speaker_width(@rooms) }px;"
