= f.inputs :name => "Your Details" do
  %br
  Your public name (required)
  %br
  = f.fields_for :person do |p|
    = p.text_field :public_name, :for => :person
  - if @conference.use_supporter_levels? and @conference.supporter_levels.length > 0
    = f.semantic_fields_for :supporter_registration do |reg|
      = reg.input :supporter_level, :as => :select, :collection => @conference.supporter_levels
      = reg.input :code, :label => "Confirmation or registration code (if applicable)"
      %span#supporter-link.help-block

  = f.input :attending_with_partner, :label => false
  = f.input :using_affiliated_lodging, :label => false
  = f.input :handicapped_access_required, :label => false
  = f.input :other_special_needs, :label => "Any other special needs?", :input_html => {:rows => 2, :class => "span6"}
= f.inputs "Travel Info" do
  = f.input :arrival, :as => :string,  :input_html => {:value => (f.object.arrival.to_formatted_s(:db_without_seconds) unless f.object.arrival.nil?), :id => "registration-arrival-datepicker", :readonly => "readonly"  }
  = f.input :departure, :as => :string, :input_html => {:value => (f.object.departure.to_formatted_s(:db_without_seconds) unless f.object.departure.nil?), :id => "registration-departure-datepicker", :readonly => "readonly"  }
- if @conference.social_events.count > 0
  = f.inputs "Are you planning to attend any of the parties?" do
    %br Yes, I'll be attending...
    %br
    = f.input :social_events, :as => :check_boxes, :label => false, :collection => @conference.social_events
    
:javascript
    $("#registration_supporter_registration_attributes_supporter_level_id").change(function () {
      var str = "";
      #{generate_supporter_level_js @conference}
      $("#supporter-link").html(str);
    })
    .trigger('change');

    $("#registration-arrival-datepicker").datetimepicker({
        dateFormat: "yy-mm-dd",
        timeFormat: "HH:mm",
        showSecond: false,
        numberOfMonths: 1,
        defaultDate: '#{@conference.start_date.yesterday.strftime('%Y-%m-%d')}',
        onSelect: function(selected) {
            $("#registration-departure-datepicker").datepicker("option","minDate", selected)
        }
    });

    $("#registration-departure-datepicker").datetimepicker({
        dateFormat: "yy-mm-dd",
        timeFormat: "HH:mm",
        showSecond: false,
        numberOfMonths: 1,
        defaultDate: '#{@conference.end_date.tomorrow.strftime('%Y-%m-%d')}',
        onSelect: function(selected) {
            $("#registration-arrival-datepicker").datepicker("option","maxDate", selected)
        }
    });    
