.container-fluid
  .row-fluid
    .span12
      %h3.pull-left
        Registration for
        = @conference.title
  - if @person.proposal_count(@conference) > 0
    .row-fluid
      .span12
        %i
          Please note: Registration is not automatically performed for speakers.  If you're scheduled to speak at the conference, you still need to register!
  .row-fluid
    .span12
      = semantic_form_for(@registration, :url => register_conference_path(@conference.short_title), :html => { :method => :put }) do |f|
        = f.fields_for :person do
          = f.inputs :public_name, :for => :person
        = f.input :attending_social_events, :label => false
        = f.input :attending_social_events_with_partner, :label => false
        = f.input :using_affiliated_lodging, :label => false
        = f.input :arrival, :as => :string, :input_html => { :id => "conference-start-datepicker", :readonly => "readonly"  }
        = f.input :departure, :as => :string, :input_html => { :id => "conference-end-datepicker", :readonly => "readonly"  }
        - if @registered
          = f.action :submit, :button_html => { :value => "Update Registration", :class => "btn btn-primary" }
          = link_to "Unregister", register_conference_path(@conference.short_title),:method => :delete, :class => "btn btn-danger",
                      :confirm => "Are you sure you want to unregister?"
        - else
          = f.action :submit, :button_html => { :value => "Register", :class => "btn btn-primary" }
