.row
  .col-md-12
    = semantic_form_for(@registration, :url => conference_register_path(@conference.short_title), :html => { :method => :patch }) do |f|
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            = link_to "Register", "#register-content", "data-toggle"=>"tab"
          - if @conference.use_volunteers
            %li
              = link_to "Volunteer", "#volunteer-content", "data-toggle"=>"tab"
        .tab-content
          #register-content.tab-pane.active
            = render 'conference_registration/registration', :f => f
          - if @conference.use_volunteers
            #volunteer-content.tab-pane
              = render 'conference_registration/volunteer', :f => f
      - if @registered
        = f.action :submit, :button_html => { :value => "Update Registration", :class => "btn btn-primary" }
        = link_to "Unregister", conference_register_path(@conference.short_title),:method => :delete, :class => "btn btn-danger",
                    :confirm => "Are you sure you want to unregister?"
      - else
        = f.action :submit, :button_html => { :value => "Register", :class => "btn btn-primary", id: 'register' }
