#new-supporter-dialog
  = semantic_form_for :supporter_registration, :html => {:id => "supporter-add-form"}  do |f|
    = f.input :name, :label => "Supporter Name"
    = f.input :email, :label => "Supporter Email"
    = f.input :supporter_level_id, :as => :select, :collection => @conference.supporter_levels
    = f.input :code, :label => "Confirmation code"
    = f.input :code_is_valid, :as => :boolean, :label => false
    = f.action :submit, :button_html => { :value => "Save", :class => "btn btn-primary" }

.row
  .col-md-12
    .pull-right{:style=>"margin-top:20px; margin-bottom:20px;"}
      = link_to "New Supporter", "#", :id => "new-supporter-button", :class => "btn btn-success"
.row
  .col-md-12
    %h2 Supporters
    .well
      %table.table.table-striped#supporters
        %thead
          %th
            Name
          %th
            Email
          %th
            Level
          %th
            Code
          %th
            Code Valid
        %tbody
        - @conference.supporter_registrations.each do |u|
          %tr
            %td= u.name
            %td= u.email
            %td= u.supporter_level.title if u.supporter_level
            %td= u.code
            %td= u.code_is_valid
