.row
  .col-md-12
    .page-header
      %h1
        - if @campaign.new_record?
          New
        Campaign
        = @campaign.name

.row
  .col-md-8
    = semantic_form_for(@campaign, url: (@campaign.new_record? ? admin_conference_campaigns_path : admin_conference_campaign_path(@conference.short_title, @campaign))) do |f|
      = f.inputs do
        = f.input :name
        = f.inputs name: 'UTM Parameters' do
          = f.input :utm_campaign, label: 'Campaign', hint: 'Groups all of the content from one campaign. E.g. 20percentpromocode'
          = f.input :utm_source, label: 'Source', hint: 'Which website is sending you traffic. E.g. Facebook, google+, blog'
          = f.input :utm_medium, label: 'Medium', hint: 'The type of marketing medium that the link is featured in. E.g. Facebook wallpost or facebook advertisement'
          = f.input :utm_term, label: 'Term', hint: 'Campaign keywords. E.g. marketing+conference+opensource'
          = f.input :utm_content, label: 'Content', hint: 'Used to track the different types of content that point to the same URL (A/B Test).'
        = f.inputs name: 'Targets' do
          = f.input :targets, collection: @conference.targets
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
