.row
  .col-md-12
    .page-header
      %h1 Campaigns
      %p.text-muted
        Track where people come from
.row
  .col-md-12
    %table.table.table-hover#campaigns
      %thead
        %tr
          %th Name
          %th Visits
          %th Registrations
          %th Submissions
          %th Link
          %th Actions
      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td{'id'=> "name_#{campaign.id}"}
              = campaign.name
            %td{'id'=> "visits_#{campaign.id}"}
              = campaign.visits_count
            %td{'id'=> "registrations_#{campaign.id}"}
              = campaign.registrations_count
            %td{'id'=> "submissions_#{campaign.id}"}
              = campaign.submissions_count
            %td
              %a.copyLink{'href'=> '#', 'data-url'=>root_path + campaign.url_parameters}
                Copy link
            %td
              .btn-group
                = link_to 'Edit',
                edit_admin_conference_campaign_path(@conference.short_title, campaign.id),
                class: 'btn btn-primary'
                = link_to 'Delete',
                    admin_conference_campaign_path(@conference.short_title, campaign.id),
                    method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete the campaign #{campaign.name}?" }
.row
  .col-md-12
    = link_to 'New Campaign', new_admin_conference_campaign_path, class: 'btn btn-success pull-right'
