<h1 class="text-center">Program for <%= @conference.title %></h1>
<div class="row">
  <% date = nil %>
  <% time = nil %>
  <% @scheduled_events.each do |event| %>
    <% unless event.start_time.strftime('%Y-%m-%d').eql?(date) %>
      <div class='col-xs-12 col-md-12 all-events-title'>
        <span class='date-title' id='program-<%= event.start_time.strftime('%Y-%m-%d') %>'>
          <%= date = event.start_time.strftime('%Y-%m-%d') %>
        </span>
        <a title="Go up" class="pull-right" href="#program">
          <i class="fa fa-angle-double-up fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    <% end %>
    <% unless event.start_time.strftime('%H:%M').eql?(time) %>
      <div class='col-xs-12 col-md-1 start-time'>
        <%= time = event.start_time.strftime('%H:%M') %>
      </div>
      <div class='col-xs-12 col-md-11 new-time-event'>
        <%= render partial: 'event', locals: {event: event} %>
      </div>
    <% else %>
      <div class='col-xs-12 col-md-11 col-md-offset-1'>
        <%= render partial: 'event', locals: {event: event} %>
      </div>
    <% end %>
  <% end %>
</div>
