= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#callforpapers' } Call For Papers

.container
  .row
    .col-md-12.text-center
      %h1
        Call For Papers
      - if !@conference.call_for_papers.description.blank?
        = markdown(@conference.call_for_papers.description)
  .row
    .col-md-12.text-center
      .lead
        = link_to "Submit Your Proposals Today", conference_proposal_index_path(@conference.short_title), class: 'btn btn-info', target: '_blank'
      - if !@conference.call_for_papers.start_date.blank? && !@conference.call_for_papers.end_date.blank?
        %p
          Proposals will be accepted between
        %p#cfp-date
          = date_string(@conference.call_for_papers.start_date, @conference.call_for_papers.end_date)
    .row
      .col-md-8.col-md-offset-3.text-center
        %div.col-md-2.timer-box
          %h2#days
          .lead Days
        %div.col-md-2.timer-box
          %h2#hours
          .lead Hours
        %div.col-md-2.timer-box
          %h2#minutes
          .lead Minutes
        %div.col-md-2.timer-box
          %h2#seconds
          .lead Seconds

:javascript
  $( document ).ready(function(){
    var target_date = new Date("#{@conference.call_for_papers.end_date}").getTime();
    if(target_date > new Date().getTime())
      var days, hours, minutes, seconds;
      setInterval(function () {
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;
        days = parseInt(seconds_left / 86400);
        seconds_left = seconds_left % 86400;

        hours = parseInt(seconds_left / 3600);
        seconds_left = seconds_left % 3600;

        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);

        $('#days').text(days);
        $('#hours').text(hours);
        $('#minutes').text(minutes);
        $('#seconds').text(seconds);
      }, 1000);
  });

