= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#location' } Location

.container
  .row
    .col-md-12.text-center
      - unless @conference.venue.name.blank?
        %h1
          %strong #{ @conference.venue.name }
      - unless @conference.venue.address.blank?
        = link_to("http://maps.google.com/maps?q=#{@conference.venue.address}") do
          %h2
            #{ @conference.venue.address }
      - unless @conference.venue.description.blank?
        .lead
          = markdown(@conference.venue.description)
      - unless @conference.venue.website.blank?
        %p.lead
          = link_to(@conference.venue.website, @conference.venue.website)
