= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#registration' } Registration

.container
  .row
    .col-md-12.text-center
      %h1 Registration

      - if @conference.registration_limit_exceeded?
        %p
          Sorry, the conference registration limit has exceeded
      - else
        - if @conference.tickets.empty?
          %p.lead
            Going to
            = @conference.short_title
            is free of charge.
          %p
            We only ask you to register yourself until
            = @conference.registration_period.end_date.strftime('%A, %B %-d. %Y')
            so we can plan for the right amount of people.
            %p.cta-button
        - else
          %p
            The registration period ends on
            = @conference.registration_period.end_date.strftime('%A, %B %-d. %Y')
          %p.cta-button
        = link_to(new_conference_conference_registration_path(@conference.short_title), class: 'btn btn-lg btn-success') do
          Register Now
