= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#social-media' } Social Media

%div.container#social-media.text-center
  %div.row
    - unless @conference.facebook_url.blank?
      %div.col-md-3
        = link_to "#{ @conference.facebook_url }" do
          %i.fa.fa-facebook-square.fa-4x
    - unless @conference.twitter_url.blank?
      %div.col-md-3
        = link_to "#{ @conference.twitter_url }" do
          %i.fa.fa-twitter.fa-4x
    - unless @conference.instagram_url.blank?
      %div.col-md-3
        = link_to "#{ @conference.instagram_url }" do
          %i.fa.fa-instagram.fa-4x
    - unless @conference.google_url.blank?
      %div.col-md-3
        = link_to "#{ @conference.google_url }" do
          %i.fa.fa-google-plus-square.fa-4x
