= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#sponsors' } Sponsors

.container
  .row
    .col-md-12
      %h2 Sponsors
      %p.lead
        whom without,
        = @conference.short_title
        wouldn't be possible! 
  - @conference.sponsorship_levels.each do |sponsorship_level|
    -if sponsorship_level.sponsors.any?
      - sponsorship_level.sponsors.each_slice(3) do |slice|
        .row.row-centered
          - slice.each do |sponsor|
            .col-md-4.col-sm-4.col-centered.col-top
              .thumbnail
                - if sponsor.logo.blank?
                  %h3.text-center
                    = link_to(sponsor.website_url, title: "#{sponsor.name}") do
                      = sponsor.name
                - else
                  = link_to(sponsor.website_url, class: 'thumbnail') do
                    = image_tag sponsor.logo, class: "img-responsive img-sponsor img-sponsor-#{sponsorship_level.position}", title: "#{sponsor.name}"
                .caption
                  -if sponsor.description.present?
                    = markdown(sponsor.description)
  -if @conference.contact and !@conference.contact.sponsor_email.blank?
    .row
      .col-md-12
        %p.text-muted.text-center
          %small
            Want to sponsor #{@conference.short_title}?
            = link_to("mailto: #{@conference.contact.sponsor_email}?subject=#{@conference.short_title}%20Sponsorship") do
              Please contact us!

