= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#sponsors' } Sponsors
%div.container#sponsors.text-center
  %div.row
    %div.col-md-12
      %h2 Sponsors
      -if !@conference.sponsor_description.blank?
        %p #{ @conference.sponsor_description }
      -if !@conference.sponsor_email.blank?
        %h3= mail_to "#{ @conference.sponsor_email }", 'Become a Sponsor'
  - if !@conference.sponsorship_levels.blank?
    - @conference.sponsorship_levels.each do |l|
      - if !l.sponsors.blank?
        %div.row.text-center
          %h4 #{l.title}
          - l.sponsors.each_with_index do |r,index|
            %div.text-center{ class: (l.sponsors.count.to_i <= 2 ? "col-md-#{12/l.sponsors.count.to_i}" : "col-md-4") }
              - if !r.logo.blank?
                = link_to image_tag(r.logo(:large), alt: "#{r.name} Logo", title: "#{r.description}"), "http://#{r.website_url}"
            - unless index == 0
              - if index%2 == 0
                %div.clearfix.visible-md.visible-lg
