%div.row
  %h3 Tickets
  -if @conference.ticket_description.present?
    .lead
      = markdown(@conference.ticket_description)
    - @conference.tickets.each do |ticket|
      %div.col-md-6
        - if ticket.title.present?
          %h4 #{ ticket.title }
        - if ticket.description.present?
          .lead
            = markdown(ticket.description)
        %div.btn-group
          = link_to "Buy Ticket", conference_tickets_path(@conference.short_title), class: 'btn btn-success'
          = button_tag "#{humanized_money_with_symbol ticket.price}", class: 'btn btn-success'
