= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#venue' } Venue
-if @conference.venue.location?
  = render 'conference/venue_map'
-else
  .container
    .row
      .col-md-6
        .thumbnail#venue-pic
          - if @conference.venue.commercial.present? and @conference.venue.commercial.persisted?
            .flexvideo{ id: "resource-content-#{@conference.venue.commercial.id}"}
              = render partial: 'shared/media_item', locals: { commercial: @conference.venue.commercial }
          - elsif @conference.venue.picture?
            = image_tag @conference.venue.picture.url, alt: @conference.venue.name, class:"img-responsive"
          - else
            %p.text-center
              %span.fa.fa-university.fa-5x
          .caption
            %h3.text-center
              = @conference.venue.name
            - unless @conference.venue.description.blank?
              = markdown(@conference.venue.description)
      .col-md-6
        %h2
          = "#{@conference.venue.city} / #{@conference.venue.country_name}"
        %address
          = @conference.venue.street
          %br
          = "#{@conference.venue.postalcode}, #{@conference.venue.city}"
          %br
          = @conference.venue.country_name
          - if @conference.venue.website
            %br
            =link_to @conference.venue.website, @conference.venue.website
