= content_for :brand do
  = link_to @conference.title, conference_url(@conference.short_title), class: 'navbar-brand'
= content_for :splash do
  - if @conference.include_banner_in_splash?
    %section{ id: 'splash-banner' }
      %div.banner-disp{ style: ("background-image: url(#{@conference.banner_photo})" unless @conference.banner_photo.blank?), class:('with-background' unless @conference.banner_photo.blank?) }
        %div.container.text-center.banner-text
          .row
            %h1
              = @conference.short_title
          - if @conference.start_date && @conference.end_date
            .row
              %h3
                = conference_date_string(@conference)

          - unless @conference.description.blank?
            .row-fluid
              .col-md-12.lead
                %p= @conference.description
          = link_to 'Gallery', fetch_gallery_photos_conference_path(@conference.id), class: 'btn btn-primary btn-lg', id: 'gallery-btn', data: {toggle: 'modal', target: '#gallery' }, remote: true
          = render 'gallery'
  - if @conference.include_program_in_splash?
    %section{ id: 'program' }
      .pad
        = render 'program'

  - if @conference.include_registrations_in_splash?
    %section{ id: 'registration' }
      .pad
        = render 'registration'


  -unless @conference.call_for_papers.blank?
    - if @conference.call_for_papers.include_cfp_in_splash?
      %section{ id:'callforpapers' }
        .pad
          = render 'call_for_papers'

  -unless @conference.venue.blank?
    - if @conference.venue.include_venue_in_splash?
      %section{ id: 'location' }
        .pad
          = render 'location'
      - unless @conference.venue.lodgings.empty?
        - if @conference.venue.include_lodgings_in_splash?
          = render 'lodging'

  - if @conference.include_sponsors_in_splash?
    %section{ id: 'sponsors' }
      .pad
        = render 'sponsor'

  - if @conference.include_social_media_in_splash?
    %section{ id: 'social-media' }
      .pad
        = render 'social_media'

