#splash
  - if @conference.splashpage
    #splash-banner
      .container
        .row
          .col-md-8.col-md-offset-2#splash-header
            .row
              .col-md-4
                = image_tag(@conference.logo(:original), class: 'img-responsive', id: 'splash-logo') if @conference.logo?
              .col-md-8
                %h1
                  = @conference.title
                %p.lead
                  - if @conference.start_date && @conference.end_date
                    = date_string(@conference.start_date, @conference.end_date)

    - unless @conference.description.blank?
      %section#about
        .container
          .row
            .col-md-8.col-md-offset-2
              %h3.text-center
                = markdown(@conference.description)

    - if @conference.splashpage.include_program
      %section#program
        = render 'program'
  
    - if @conference.cfp_open? and @conference.call_for_papers.include_cfp_in_splash?
      %section#callforpapers
        = render 'call_for_papers'
  
    - if @conference.venue and @conference.splashpage.include_venue
      #location{ style: ("background-image: url(#{@conference.venue.photo})" unless @conference.venue.photo.blank?) }
        = render 'location'
  
    - if @conference.registration_open? and @conference.splashpage.include_registrations
      %section#registration
        = render 'registration'
  
    - if @conference.tickets.any? and @conference.splashpage.include_tickets
      %section#tickets
        = render 'tickets'
  
    - if @conference.venue.lodgings.any? and @conference.splashpage.include_lodgings
      %section#lodging
        = render 'lodging'
  
    - if @conference.sponsors.any? and @conference.splashpage.include_sponsors
      %section#sponsors
        = render 'sponsors'
  
    - if @conference.splashpage.include_social_media
      %section#social-media
        = render 'social_media'
  
    // grmbl
    = render 'footer'

- content_for :script_head do
  :javascript
    var triangle_tcs = tinycolor("#{@conference.color}").monochromatic();
    var triangle_colors = triangle_tcs.map(function(t) { return t.toHexString(); });
