.row{'style'=>'padding-top: 15px;'}
  .col-md-6
    %dl.dl-horizontal
      %dt
        Name
      %dd
        = @venue.name
      %dt
        Address
      %dd
        = @venue.address
      %dt
        Website
      %dd
        = @venue.website
      %dt
        Description
      %dd
        - unless @venue.description.blank?
          = markdown(@venue.description)
.row.row-flex.row-flex-wrap
  .col-md-4
    .thumbnail.flex-col
      %h3.text-center
        Venue Logo
      - if @venue.photo
        = image_tag(@venue.photo(:large), class: 'img-responsive')
        .caption.flex-grow
        .caption
          %p
            %dl.dl-horizontal
              %dt
                Filename
              %dd
                = @venue.photo_file_name
      -else
        %h4.text-center
          Not set!