= form_for(@splashpage, url: admin_conference_splashpage_path) do |f|
  .checkbox
    %label
      = f.check_box :include_cfp
      Display call for papers and call for tracks?
  .checkbox
    %label
      = f.check_box :include_program
      Display the program?
  .checkbox
    %label
      = f.check_box :include_tracks
      Include confirmed tracks in the program?
  .checkbox
    %label
      = f.check_box :include_booths
      Include confirmed
      = (t'booth').pluralize
      in the program?
  .checkbox
    %label
      = f.check_box :include_registrations
      Display the registration period?
  .checkbox
    %label
      = f.check_box :include_tickets
      Display the tickets?
  .checkbox
    %label
      = f.check_box :include_venue
      Display the venue?
  .checkbox
    %label
      = f.check_box :include_lodgings
      Display the lodgings?
  .checkbox
    %label
      = f.check_box :include_sponsors
      Display the sponsors?
  .checkbox
    %label
      = f.check_box :include_social_media
      Display the social media links?
  %h4
    Access
  %hr
  .checkbox
    %label
      = f.check_box :public
      Make splash page public?
  .text-right
    .checkbox
      %label
        = check_box_tag 'selectAll'
        Select / Deselect All
    = f.submit 'Save', { class: 'btn btn-primary' }

:javascript
  $(document).ready(function(){
    $('#selectAll').click(function() {
      if (this.checked) {
          $(':checkbox').each(function() {
              this.checked = true;
          });
      } else {
          $(':checkbox').each(function() {
              this.checked = false;
          });
      }
    });
  });
