.row
  .col-md-12
    .page-header
      %h1 Splashpage
      %p.text-muted
        - if @splashpage
          View the
          = link_to "splash page", conference_path(@conference.short_title)

        - else
          Build a splashpage with all the information for your conference

- if @splashpage
  .row
    .col-md-12
      %ul.fa-ul
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_cfp?}" }
          Display call for papers and call for tracks, while open
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_program?}" }
          Display the program
          %ul.fa-ul
            %li
              %i{ class: "fa-li #{icon_for_todo @splashpage.include_program?}" }
              Include confirmed tracks
            %li
              %i{ class: "fa-li #{icon_for_todo @splashpage.include_booths?}" }
              Include confirmed #{(t'booth').pluralize}
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_registrations?}" }
          Display the registration period
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_tickets?}" }
          Display tickets
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_venue?}" }
          Display the venue
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_lodgings?}" }
          Display the lodgings
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_sponsors?}" }
          Display sponsors
        %li
          %i{ class: "fa-li #{icon_for_todo @splashpage.include_social_media?}" }
          Display social media links
        %li
          - if @conference.splashpage && @conference.splashpage.public
            %i{ class: "fa-li #{icon_for_todo @splashpage.public?}" }
            %text-muted.publicorprivate  Public
          - else
            %i{ class: "fa-li #{icon_for_todo !@splashpage.public?}" }
            %text-muted.publicorprivate  Private
  .row
    .col-md-12
      - if can? :update, @splashpage
        = link_to 'Edit', edit_admin_conference_splashpage_path, class: 'btn btn-primary'
      - if can? :destroy, @splashpage
        = link_to 'Delete', admin_conference_splashpage_path,
                            method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
  .row
    .col-md-12.text-right
      - if can? :create, @conference.build_splashpage
        = link_to 'Create Splashpage', new_admin_conference_splashpage_path, class: 'btn btn-primary'
