.well
  %table.table.table-striped.table-bordered.table-hover#volunteerstable
    %thead
      %th First Name
      %th Last Name
      %th Email
      %th Mobile
      %th Languages
      %th Experience
      %th Tshirt Size
    %tbody
      - @volunteers.each do |volunteer|
        %tr
          %td= volunteer.first_name
          %td= volunteer.last_name
          %td= volunteer.email
          %td= volunteer.mobile
          %td= volunteer.languages
          %td= volunteer.volunteer_experience
          %td= volunteer.tshirt

:javascript
  $(document).ready(function(){
      $('#volunteerstable').dataTable({
        "bPaginate": false
      });
  });
