.row
  .col-md-12
    .page-header
      %h1
        - if @ticket.new_record?
          New
        = @ticket.title
        Ticket
.row
  .col-md-8
    = semantic_form_for(@ticket, url: (@ticket.new_record? ? admin_conference_tickets_path : admin_conference_ticket_path(@conference.short_title, @ticket))) do |f|
      = f.input :title
      = f.input :description, input_html: { rows: 5, data: { provide: "markdown-editable" } }
      = f.input :price
      = f.input :price_currency, as: :select, class: 'form-control', collection: ['USD', 'EUR', 'GBP', 'INR', 'CNY'], include_blank: false
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
