.row
  .col-md-12
    .page-header
      %h1
        - if @ticket.new_record?
          New
        = @ticket.title
        Ticket
.row
  .col-md-8
    = semantic_form_for(@ticket, url: (@ticket.new_record? ? admin_conference_tickets_path : admin_conference_ticket_path(@conference.short_title, @ticket))) do |f|
      = f.input :title, input_html: { autofocus: true }
      = f.input :description, input_html: { rows: 5, data: { provide: 'markdown' } }
      = f.input :price
      = f.input :price_currency, as: :select, class: 'form-control', collection: ['USD', 'EUR', 'GBP', 'INR', 'CNY', 'CHF'], include_blank: false
      = f.input :registration_ticket, hint: 'A registration ticket is with which user register for the conference.'
      = f.input :visible, hint: 'Only visible tickets are available to registrants. Non-visible tickets can only be managed by Admins.'
      %p.text-right
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary' }
