.row
  .col-md-12
    .page-header
      %h1
        %div{"data-placement" => "left", "data-toggle" => "tooltip", :title => @ticket.description}
          = @ticket.title
          Ticket
          %small
            = humanized_money_with_symbol @ticket.price
      %p.text-muted
        People who bought this ticket
.row
  .col-md-12
    %table.table.table-hover.datatable
      %thead
        %th #
        %th Name
        %th E-Mail
        %th Affiliation
        %th Paid
      %tbody
        - @ticket.buyers.each_with_index do |buyer, index|
          %tr
            %td
              = index + 1
            %td
              = buyer.name
              %span.label.label-success
                = buyer.ticket_purchases.find_by(ticket_id: @ticket.id).quantity
            %td
              = buyer.email
            %td
              = buyer.affiliation
            %td
              = @ticket.paid?(buyer)

