.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign in
        .panel-body
          = form_for(@login_url, method: :post, enctype: 'application/x-www-form-urlencoded', id: 'session' do |f|
            = f.hidden_field :url, value: @back_url
            = f.hidden_field :context, value: @context
            = f.hidden_field :proxypath, value: @proxypath

            .form-group
              = f.label :username, "Username"
              %abbr{title: 'This field is required'} *
              = f.text_field :username, autofocus: true, required: true, class: 'form-control', placeholder: 'Username'
            .form-group
              = f.label :password, "Password"
              %abbr{title: 'This field is required'} *
              = f.password_field :password, required: true, class: 'form-control', placeholder: 'Password'
            %p.text-right
              %button{type: 'submit', class: 'btn btn-success'}
                Sign In

            = render partial: 'devise/shared/help'
