.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign in (TEST MODE)
        .panel-body
          = semantic_form_for "", method: :post, enctype: 'application/x-www-form-urlencoded', url: @login_url do |f|
            = f.input :username, input_html: { autofocus: true }

            - if ::Devise.ichain_force_test_attributes.blank?
              - @fields.each do |field|
                = f.input "attributes[#{field}]", label: field.to_s.humanize

            %p.text-right
              = f.action :submit, as: :button, label: 'Sign In', button_html: { class: 'btn btn-success' }

            = render partial: 'devise/shared/help'
