.row
  .col-md-12
    .page-header
      %h1
        Questions
        - if can? :create, Question.new(conference_id: @conference.id)
          = link_to 'Create New Question','#', 'data-toggle' => 'modal',
            'data-target' => '#new-question', class: 'btn btn-success pull-right'
      %p.text-muted
        People will have to answer your questions during registration to your conference
.row
  .col-md-12
    - if @questions.count > 0
      = semantic_form_for(@conference, url: update_conference_admin_conference_questions_path(@conference.short_title)) do |f|
        .questions{id: 'myquestions'}
          = render partial: 'questions'
        - if can? :update, Question.new(conference_id: @conference.id)
          = f.submit "Save Questions", class: 'btn btn-primary pull-right',
                      confirm: 'Are you sure you want to make these changes?'

    .modal.fade{id: 'new-question', 'role' => 'dialog', 'aria-hidden' => 'true'}
      .modal-dialog
        .modal-content
          .modal-header
            %h3{id: 'new-question-header'}
              Add new question
          .modal-body
            = semantic_form_for(@new_question, url: admin_conference_questions_path(@conference.short_title), method: :post) do |f|
              = render partial: 'form', locals: {f: f}
              %button{class: 'btn btn-primary'}
                Save
              .pull-right
                %button{class: 'btn btn-danger', 'data-dismiss'=> 'modal', 'aria-hidden'=>'true'}
                  Cancel
