.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Sign In
      .panel-body
        = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.input :login
          = f.input :password
          - if devise_mapping.rememberable?
            %p.text-right.small
              = f.label 'Remember me'
              = f.check_box :remember_me
          %p.text-right
            = f.action :submit, as: :button, label: 'Sign In', button_html: {class: 'btn btn-success'}
        - unless omniauth_configured.empty?
          .row
            .col-md-4
              %hr
            .col-md-4
              %h4.text-center
                or sign in using
            .col-md-4
              %hr
          .row
            .col-md-12
              #openidlinks
                = render 'devise/shared/openid'
              %p.text-right
                %a.small{"data-toggle" => "collapse", "data-target" =>  "#devise-help"}
                  Need Help?
                #devise-help.collapse
                  = render 'devise/shared/links'
