.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            Sign In
        .panel-body
          = semantic_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.input :login
            = f.input :password
            - if devise_mapping.rememberable?
              %p.text-right.small
                = f.label 'Remember me'
                = f.check_box :remember_me
            %p.text-right
              = f.action :submit, as: :button, label: 'Sign In', button_html: {class: 'btn btn-success'}
          = render partial: 'devise/shared/openid'
          = render partial: 'devise/shared/help'
