.container
  %h2.center-text
    Sign In
  .row-fluid
    .well.span3.offset2
      = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.input :remember_me, :as=> :boolean, :label => false
        = f.action :submit, :as => :button, :label => "Sign In", :button_html => {:class => "btn btn-primary"}
    .well.span3.offset2
      %h4
        No account?
      = render "devise/shared/links"
