.page-header
  %h3 Users (#{users.length})
- if users.present?
  %table.datatable#users
    %thead
      - if ( can? :toggle_user, @role )
        %th.col-md-1
      %th ID
      %th Name
      %th Email
    %tbody
      - users.each do |user|
        %tr
          - if ( can? :toggle_user, @role )
            %td.text-right
              = hidden_field_tag "role[user_ids][]", nil
              = check_box_tag @conference.short_title, @role.id, (@role.user_ids.include? user.id), url: "#{@url}?user[email]=#{user.email}&user[state]=", method: :post, class: 'switch-checkbox'
          %td= user.id
          %td= user.name
          %td= user.email
- else
  %h5 No users found!
