.unobtrusive-flash-container
.row
  .col-md-12
    .page-header
      %h2
        Role
        = @role.name.titleize
        - if can? :edit, @role
          - if @track
            = link_to 'Edit', edit_admin_conference_program_track_role_path(@conference.short_title, @track, @role.name),
            class: 'btn btn-primary pull-right'
          - else
            = link_to 'Edit', edit_admin_conference_role_path(@conference.short_title, @role.name), class: 'btn btn-primary pull-right'
      .text-muted
        = @role.description
        - if @track
          = link_to @track.name, admin_conference_program_track_path(@conference.short_title, @track)


.row
  .col-md-3
    - if ( can? :toggle_user, @role ) && !@role.new_record?

      = form_for :user, url: @url, method: :post do |f|
        .form-group
          = f.label :email, 'Add user by email: '
          = f.email_field :email, autofocus: true, placeholder: "User's email", class: 'form-control'
        = f.submit 'Add', id: 'user-add', class: 'btn btn-primary'

.row
  .col-md-12
    #users_area
      = render partial: 'users', locals: { users: @users }
