.unobtrusive-flash-container
.row
  .col-md-12
    .page-header
      %h2
        Role
        = @role.name.titleize
        - if can? :edit, @role
          - if @track
            = link_to 'Edit', edit_admin_conference_program_track_role_path(@conference.short_title, @track, @role.name),
            class: 'btn btn-primary pull-right'
          - else
            = link_to 'Edit', edit_admin_conference_role_path(@conference.short_title, @role.name), class: 'btn btn-primary pull-right'
      .text-muted
        = @role.description
        - if @track
          = link_to @track.name, admin_conference_program_track_path(@conference.short_title, @track)


.row.col-md-3
  - if ( can? :toggle_user, @role ) && !@role.new_record?

    = semantic_form_for :user, url: @url, method: :post do |u|

      = u.label 'Add user by email: '
      .input-group
        = u.input :email, input_html: { autofocus: true }, label: false, placeholder: "User's email"
        .input-group-btn
          = u.submit 'Add', id: 'user-add', class: 'btn btn-primary'

.row
  .col-md-12
    #users_area
      = render partial: 'users', locals: { users: @users }
