- if @conference.questions.any?
  %h4 Additional Info
  - @conference.questions.each do |question|
    .form-group
      - if question.question_type.title == 'Yes/No' || question.question_type.title == 'Single Choice'
        = f.label :qanswer_ids, question.title
        = f.select :qanswer_ids, options_from_collection_for_select(question.qanswers.joins(:answer), :id, 'answer.title'), { include_blank: 'Please make your choice' }, { multiple: false, class: 'form-control' }
      - if question.question_type.title == 'Multiple Choice'
        = f.label :qanswer_ids, question.title
        - question.qanswers.joins(:answer).each do |qanswer|
          .checkbox
            %label
              = f.check_box :qanswer_ids, { multiple: true }, qanswer.id, nil
              = qanswer.answer.title
