- if @conference.questions.any?
  %h4 Additional Info
  - @conference.questions.each do |question|
    .form-group
      - if question.question_type.title == 'Yes/No' || question.question_type.title == 'Single Choice'
        %label= question.title
        = f.select 'qanswer_ids[]', options_from_collection_for_select(question.qanswers.includes(:answer), :id, lambda { |qa| qa.answer.title }), { include_blank: 'Please make your choice' }, { class: 'form-control' }
      - if question.question_type.title == 'Multiple Choice'
        %label= question.title
        - question.qanswers.includes(:answer).each do |qanswer|
          .checkbox
            %label
              = check_box_tag 'registration[qanswer_ids][]', qanswer.id, false
              = qanswer.answer.title
