- unless @conference.code_of_conduct.blank?
  - code_of_conduct_link = link_to 'Code of Conduct', '#',
    data: { toggle: 'modal', target: '#modal-code-of-conduct'}
  - if @registration.accepted_code_of_conduct
    = fa_icon 'check-square-o'
    I have read and accepted the
    = code_of_conduct_link
  - else
    = f.input :accepted_code_of_conduct,
      label: "I have read and accept the #{code_of_conduct_link}".html_safe,
      required: true

- if @conference.program.events.with_registration_open.any? || @registration.events.any?
  = f.inputs 'Pre-registration required for the following:' do

    -# TODO: This needs to be easier to use.
    %p
      You are registered for #{pluralize(@registration.events.count, 'event')}.
      They are at the end of this list.
    - @registration.events_ordered.each do |event|
      = render 'conference_registrations/event', event: event, event_schedule: event.event_schedules.first, conference: @conference, registration: @registration

= render 'conferences/code_of_conduct', organization: @conference.organization
