- if @conference.questions.any?
  = render partial: 'conference_registrations/questions', locals: { f: f }
- if @conference.program.events.with_registration_open.any? || @registration.events.any?
  = f.inputs 'Pre-registration required for the following:' do

    - @registration.events_ordered.each do |event|
      %label
        = hidden_field_tag "registration[event_ids][]", nil
        = check_box_tag "registration[event_ids][]", event.id, event.registrations.include?(@registration)
        = event.title
        .text-muted
          = registered_text(event)
          - if event.scheduled?
            (Scheduled on: #{event.time.to_date})
      %br
