- if @conference.questions.any?
  = render partial: 'conference_registrations/questions', locals: { f: f }
- if @conference.program.events.with_registration_open.any? || @registration.events.any?
  = f.inputs 'Pre-registration required for the following:' do

    - @registration.events_ordered.each do |event|
      %label
        = hidden_field_tag "registration[event_ids][]", nil
        = check_box_tag "registration[event_ids][]", event.id, event.registrations.include?(@registration)
        = event.title
        .text-muted
          = registered_text(event)
          - if event.scheduled?
            (Scheduled on: #{event.time.to_date})
      %br



= f.inputs 'Your Travel Info' do
  = f.input :arrival, as: :string, label: 'Your arrival time', input_html: { value: (f.object.arrival.to_formatted_s(:db_without_seconds) unless f.object.arrival.nil?), id: 'registration-arrival-datepicker',start_date: @conference.start_date,end_date: @conference.end_date,readonly: 'readonly'  }
  = f.input :departure, as: :string, label: 'Your departure time', input_html: { value: (f.object.departure.to_formatted_s(:db_without_seconds) unless f.object.departure.nil?), id: 'registration-departure-datepicker', readonly: 'readonly'  }
