- if @conference.code_of_conduct.present?
  - if @registration.accepted_code_of_conduct
    = icon 'fa-solid', 'square-check'
    I have read and accepted the
    = link_to "Code of Conduct", code_of_conduct_conference_path(@conference.short_title)
  - else
    .checkbox
      %label
        = f.check_box :accepted_code_of_conduct, required: true
        I have read and accept the
        = link_to "Code of Conduct", code_of_conduct_conference_path(@conference.short_title)
        %abbr{title: 'This field is required'} *

- if @conference.program.events.with_registration_open.any? || @registration.events.any?
  %h4
    Pre-registration required for the following:
  - @registration.events_ordered.each do |event|
    %label
      = hidden_field_tag "registration[event_ids][]", nil
      = check_box_tag "registration[event_ids][]", event.id, event.registrations.include?(@registration)
      = event.title
      .text-muted
        = registered_text(event)
        - if event.scheduled?
          (Scheduled on: #{event.time.to_date})
    %br
