- if @conference.questions.any?
  = render partial: 'conference_registrations/questions', locals: { f: f }
- if @conference.program.events.with_registration_open.any? || @registration.events.any?
  = f.inputs 'Select which events you will attend:' do
    %table.table
      %tr
        %td Register?
        %td Track
        %td Title
      - @registration.events_ordered.each do |event|
        %tr
        %label
          = hidden_field_tag "registration[event_ids][]", nil
          %td= check_box_tag "registration[event_ids][]", event.id, event.registrations.include?(@registration)
          %td= event&.track&.name
          %td= event.title
        %br
