= form_for(@organization, url: (@organization.new_record? ? admin_organizations_path : admin_organization_path(@organization))) do |f|
  .form-group
    = f.label :name, "Name"
    %abbr{title: 'This field is required'} *
    = f.text_field :name, required: true, class: 'form-control', placeholder: 'Name'
  .form-group
    = f.text_area :description, rows: 10, data: { provide: 'markdown' }, class: 'form-control', placeholder: 'Decribe about your organization...'
    %span.help-block
      = markdown_hint
  .form-group
    = f.text_area :code_of_conduct, rows: 10, data: { provide: 'markdown' }, class: 'form-control', placeholder: 'Rules governing behavior and dispute resolution...'
    %span.help-block
      = markdown_hint
  .form-group
    = image_tag f.object.picture.thumb.url if f.object.picture?
    = f.file_field :picture
  %p.text-right
    %button{type: 'submit', class: 'btn btn-success'}
      - if @organization.new_record?
        Create Organization
      - else
        Update Organization
