.row
  .col-md-12
    .page-header
      %h2
        Organization admins for #{@organization.name}
      .text-muted
        = @role.description

.row.col-md-3
  - if ( can? :assign_org_admins, @organization )
    = form_for :user, url: assign_org_admins_admin_organization_path(@organization, @role.name), method: :post do |f|
      .form-group
        = f.label :email, 'Add user by email: '
        = f.text_field :email, placeholder: "User's email", class: 'form-control', required: true
      = f.submit 'Add', id: 'user-add', class: 'btn btn-primary'

.row
  .col-md-12
    = render partial: 'users_with_org_admin_role',
      locals: { users: @users, organization: @organization, role: @role }
