.row
  .col-md-12
    .page-header
      %h2
        Organization admins for #{@organization.name}
      .text-muted
        = @role.description

.row.col-md-3
  - if ( can? :assign_org_admins, @organization )
    = semantic_form_for :user,
      url: assign_org_admins_admin_organization_path(@organization,
      @role.name), method: :post do |u|

      = u.label 'Add user by email: '
      .input-group
        = u.input :email, label: false, placeholder: "User's email"
        .input-group-btn
          = u.submit 'Add', id: 'user-add', class: 'btn btn-primary'

.row
  .col-md-12
    = render partial: 'users_with_org_admin_role',
      locals: { users: @users, organization: @organization, role: @role }
