= semantic_form_for(@payment, url: conference_payments_path) do |f|
  .form-group
    = f.label :first_name, 'First name(as on card)'
    = f.text_field :first_name, class: "form-control", placeholder: "John"
  .form-group
    = f.label :last_name, 'Last name(as on card)'
    = f.text_field :last_name,class: "form-control", placeholder: "Doe"
  %span.pull-right
    %img.img-responsive{:src => image_url('credit_card.png')}
  .form-group
    = f.label :credit_card_number, "Credit Card number(without spaces)"
    .input-group
      = f.text_field :credit_card_number, class: "form-control", placeholder: "XXXX XXXX XXXX XXXX"
      %span.input-group-addon
        %i.fa.fa-credit-card
  .form-group.col-md-6
    = f.label :expiration_month
    = f.select :expiration_month, months, {}, class: "form-control"
  .form-group.col-md-6
    = f.label :expiration_year
    = f.select :expiration_year, years, {}, class: "form-control"
  .form-group.col-md-10
    = f.label :card_verification_value, 'Security Code(3 on back, AmEx: 4 on front)'
    = f.text_field :card_verification_value, class: "form-control", placeholder: "XXX"
    = f.number_field :amount, value: @total_amount_to_pay, class: "form-control", type: 'hidden'
  %ul.price-tags.pull-right
    %li.text-muted
      you will pay
    %li
      %a
        = number_to_currency @total_amount_to_pay
  .form-group
    = f.submit "Charge Card", class: "btn btn-primary"
    = link_to "Cancel", conference_conference_registrations_path, class: "btn btn-danger"
