%p.lead
  - if @program.event_types.any?
    You can submit proposals for
    = "#{event_types_sentence(@conference)}."
  - if @program.tracks.confirmed.cfp_active.any?
    Proposals should fit in one of the
    = "#{pluralize(@program.tracks.confirmed.cfp_active.count, 'track')}:"
    = "#{tracks(@conference)}."
  - if @program.cfp_open?
    The submission period is open from
    %em.notranslate
      = @program.cfp.start_date.strftime('%A, %B %-d. %Y')
    and closes
    %em.notranslate
      = @program.cfp.end_date.strftime('%A, %B %-d. %Y.')
    That means you have
    %b.notranslate= pluralize(@program.cfp.remaining_days, 'day')
    left!
    %span.notranslate #{@conference.title}
    will only be as good as the content you present. Submit early, submit often!
  - else
    The submission period is closed now.
