-# PARTIAL FOR EVENT/PROPOSAL FORM

= f.input :event_type_id, as: :select, include_blank: false, label: 'Type',
  input_html: { class: 'select-help-toggle' },
  collection: event_type_options(program.event_types)


- program.event_types.each do |event_type|
  .help-block.event_event_type_id.collapse{ id: "#{event_type.id}-help" }
    %strong Description
    %div
      = markdown(event_type.description)

%h3 Submission Abstract
%p
  The abstract is reviewed by the committee and included in the conference program.
  You are encouraged to include links or other references as appropriate.

= f.label :abstract, class: 'sr-only'
= f.input :abstract, required: true, label: false,
  input_html: { rows: 5, data: { provide: 'markdown' } },
  hint: markdown_hint

%p
  You have used
  %span#abstract-count 0
  words. Abstracts must be between
  %span#abstract-minimum-word-count 0
  and
  %span#abstract-maximum-word-count 250
  words.

%hr
%h3 Submission Details
%p
  This part of the submission is intended only for the conference committee.

- program.event_types.each do |event_type|
  .help-block.select-help-text.event_event_type_id.collapse{ id: "#{event_type.id}-instructions" }
    - if event_type.submission_instructions.blank?
      %p
        Use this space to include any additional inforrmation that is helpful in reviewing your
        submission. If you have any co-presenters, please include them
        below. After submission, you will have the opportunity to add them to the
        speakers list. (However, they must have an active #{ENV['OSEM_NAME']} account.)
    - else
      %p
        Please use the following as the template for your submission. This will help the conference
        committee review your submission with all the details they need. If you have any
        co-presenters, please include them below. After submission, you will have the opportunity
        to add them to the speakers list. (However, they must have an active #{ENV['OSEM_NAME']}
        account.)
      .panel.panel-primary
        .panel-heading
          = event_type.name
          Template
        .panel-body
          = markdown(event_type.submission_instructions)
        .panel-footer
          %button.btn.btn-warning.btn-xs.js-resetSubmissionText{ type: 'button',
            data: { confirm: 'Do you really want to reset your submission text to the provided template?' } }
            Reset Submission to Template
          %span.small You may want to use this if you have changed the submission type.

= f.label :submission_text, class: 'sr-only'
= f.input :submission_text, label: false,
  input_html: { rows: 10, data: { provide: 'markdown' } },
  hint: markdown_hint
