.container
  .row
    .col-md-12
      .page-header
        %h1 New #{@conference.title} Proposal
  - if @program.cfp_open?
    - if @program.cfp.description.present?
      .row
        .col-md-12
          = markdown(@program.cfp.description, escape_html=false)
  .row
    .col-md-12
      = render partial: 'encouragement_text'
  .row
    .col-md-8
      - unless current_user
        %legend
          %span
            = link_to('#signup', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              Create a Snap!Con Account

          %span.pull-right#account-already
            = link_to('#signin', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              Already have a Snap!Con account?
      .tab-content
        .tab-pane.active{role: 'tabpanel', id: 'signup'}

          = semantic_form_for(@event, url: @url) do |f|

            = render partial: 'devise/shared/sign_up_form_embedded'

            = f.inputs name: 'Proposal Information' do
              = f.input :title, as: :string, required: true, input_html: { required: true }
              = f.input :event_type_id, as: :select,
                collection: @program.event_types.map {|type| ["#{type.title} - #{show_time(type.length)}", type.id,
                data: { min_words: type.minimum_abstract_length, max_words: type.maximum_abstract_length }]},
                include_blank: false, label: 'Type', input_html: { class: 'select-help-toggle' }

              - @program.event_types.each do |event_type|
                %div{ class: 'help-block event_event_type_id collapse', id: "#{event_type.id}-help"}
                  %strong Directions
                  %div
                    = markdown(event_type.description)

              - if @program.languages.present?
                = f.input :language, as: :select,
                  collection: @languages,
                  include_blank: false, label: 'Language', input_html: { class: 'select-help-toggle' }

              = f.input :abstract, required: true, input_html: { rows: 5, data: { provide: 'markdown' } },
                hint: markdown_hint

              %p
                You have used
                %span#abstract-count #{@event.abstract_word_count}
                words. Abstracts must be between
                %span#abstract-minimum-word-count
                  0
                and
                %span#abstract-maximum-word-count
                  250
                words.

              - if @program.cfp.enable_registrations?
                = f.input :require_registration, label: 'Require participants to register to your event'

              %p.text-right
                = link_to '#description', 'data-toggle' => 'collapse', id: 'description_link' do
                  Do you require something special?
              .collapse#description
                Tell us if you'd like to try something unique or interesting or need help in sharing your presentation online.
                = f.input :description, input_html: { rows: 5 }, label: 'Requirements', placeholder: 'Eg. Whiteboard, printer, or something like that.'

            %p.text-right
              = f.submit 'Submit Proposal', class: 'btn btn-success'

        .tab-pane{role: 'tabpanel', id: 'signin'}
          = render partial: 'devise/shared/sign_in_form_embedded'
