.container
  .row
    .col-md-12
      .page-header
        %h1 New Proposal
  - if @program.cfp_open?
    - if @program.cfp.description.present?
      .row
        .col-md-12
          = markdown(@program.cfp.description)
  .row
    .col-md-12
      = render partial: 'encouragement_text'
  .row
    .col-md-8
      - unless current_user
        %legend
          %span
            =link_to('#signup', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              = ENV['OSEM_NAME'] || 'OSEM'
              Account
          %span.pull-right#account-already
            =link_to('#signin', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              Already have an account?
      .tab-content
        .tab-pane.active{role: 'tabpanel', id: 'signup'}
          = form_for(@event, url: @url) do |f|
            = render partial: 'devise/registrations/new_embedded'
            = render partial: 'form', locals: { f: f }
        .tab-pane{role: 'tabpanel', id: 'signin'}
          = render partial: 'devise/sessions/new_embedded'
