.container
  .row
    .col-md-12
      .page-header
        %h1 New #{@conference.title} Proposal
  - if @program.cfp_open?
    - if @program.cfp.description.present?
      %h2 Call for Proposals
      .row
        .col-md-12
          = markdown(@program.cfp.description, escape_html=false)
  .row
    .col-md-12
      = render partial: 'encouragement_text'
  .row
    .col-md-8
      - unless current_user
        %legend
          %span
            = link_to('#signup', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              Create a Snap!Con Account

          %span.pull-right#account-already
            = link_to('#signin', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              Already have a Snap!Con account?
      .tab-content
        .tab-pane.active{role: 'tabpanel', id: 'signup'}

          = semantic_form_for(@event, url: @url) do |f|

            = render partial: 'devise/shared/sign_up_form_embedded'

            = f.inputs name: 'Proposal Information' do
              = f.input :title, as: :string, required: true, input_html: { required: true }

              - if @program.languages.present?
                = f.input :language, as: :select,
                  collection: @languages,
                  include_blank: false, label: 'Language', input_html: { class: 'select-help-toggle' }

              - if @program.difficulty_levels.present?
                = f.input :difficulty_level, as: :select, collection: @program.difficulty_levels,
                  input_html: { class: 'select-help-toggle' },
                  include_blank: '(Please select)' if @conference.program.difficulty_levels.any?

                - @program.difficulty_levels.each do |difficulty_level|
                  %span.help-block.select-help-text.collapse.event_difficulty_level_id{ id: "#{difficulty_level.id}-help" }
                    = difficulty_level.description

              = render 'submission_type_content_form', f: f, program: @program

              - if @program.cfp.enable_registrations?
                = f.input :require_registration, label: 'Require participants to register to your event'

              %p.text-right
                = link_to '#description', 'data-toggle' => 'collapse', id: 'description_link' do
                  Do you require something special?
              .collapse#description
                Tell us if you'd like to try something unique or interesting or need help in sharing your presentation online.
                = f.input :description, input_html: { rows: 5 }, label: 'Requirements', placeholder: 'Eg. Whiteboard, printer, or something like that.'

            %p.text-right
              = f.submit 'Submit Proposal', class: 'btn btn-success btn-lg'

        .tab-pane{role: 'tabpanel', id: 'signin'}
          = render partial: 'devise/shared/sign_in_form_embedded'
