.row
  .col-md-12
    .page-header
      %h1
        Registration for #{@user.username} (#{@user.email})

        = link_to 'Edit User', edit_admin_user_path(@user), class: 'btn btn-primary pull-right' if can? :edit, @user
.row
  .col-md-6
    = form_for(@registration, url: admin_conference_registration_path(@conference.short_title, @registration)) do |f|
      %h4
        Personal Information
      %hr
        = fields_for :user do |u|
          .form-group
            = u.label :name
            = u.text_field :name, class: 'form-control'
            = u.label :nickname
            = u.text_field :nickname, class: 'form-control'
            = u.label :affiliation
            = u.text_field :affiliation, placeholder: 'Company/User Group etc.', class: 'form-control'
      %h4
        Registration Information
      %hr
        = render partial: 'conference_registrations/registration_info', locals: { f: f }
      = f.submit nil, class: 'btn btn-primary'
