.row
  .col-md-12
    .page-header
      %h2
        Registrations
        - if @registrations
          = "(#{@registrations.length})"
        = " - Attended (#{@attended})"
        .btn-group.pull-right
          - if can? :read, Registration
            = link_to "Export PDF", admin_conference_registrations_path(@conference.short_title, :format => :pdf), :class => "btn btn-default"
            = link_to "Export XLS", {:format => :xlsx}, :class => "btn btn-default"
    %table.table.table-bordered.table-striped.table-hover#registrations-datatable
      %thead
        %tr
          %th #
          %th Name
          %th E-Mail
          %th Ticket
          %th Arrival
          %th Departure
          %th Attended
          %th Questions
          %th Edit
          %th Delete
      %tbody
        - @registrations.each_with_index do |registration, index|
          %tr
            %td
              = index + 1
            %td
              = registration.name
            %td
              = registration.email
            %td
              - if registration.supporter_level
                = registration.supporter_level.title
            %td
              - if registration.arrival
                = registration.arrival.strftime("%d %b %H:%M")
              - else
                n/a
            %td
              - if registration.departure
                = registration.departure.strftime("%d %b %H:%M")
              - else
                n/a
            %td
              = link_to "#{registration.attended}", admin_conference_registrations_toogle_attended_path(@conference.short_title, id: registration.id),
              method: :patch, class: 'btn btn-success'
            %td
              = link_to 'Questions','#', class: 'btn btn-success question-btn', 'data-id' => index, 'data-name' => registration.name
            %td
              = link_to 'Edit', edit_admin_conference_registration_path(@conference.short_title, id: registration),
              method: :get, class: 'btn btn-primary'
            %td
              = link_to 'Delete', admin_conference_registration_path(@conference.short_title, registration),
              method: :delete, class: 'btn btn-danger', data: { confirm: "Do you really want to delete the Registration for #{registration.name}?" }
  - @registrations.each_with_index do |registration, index|
    .questions{class: "question#{index}", style: 'display:none;'}
      = render partial: 'questions', locals: { registration: registration }

.modal.fade{ id: "questions", 'role' => 'dialog', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h3{id: 'question-modal-header'}
          Questions for Foobar
      .modal-body#question-modal-body
