.row
  .col-md-12
    .page-header
      %h1
        All Events
        = "(#{@events.length})"
      %p.text-muted
        All submissions and the information that they are missing

.col-md-12
  %table.datatable
    %thead
      %th ID
      %th Title
      %th Speakers Registered
      %th Speakers Biographies
      %th Materials
      %th Subtitle
      %th Difficulty Level
      - if @program.tracks.any?
        %th Track
    %tbody
      - @events.each do |event|
        %tr
          - progress_status = event.progress_status
          %td= event.id
          %td
            = link_to event.title, edit_admin_conference_program_event_path(@conference.short_title, event)
            %br
            - if(event.speakers.any?)
              .small
                (Presented by
                = speaker_links(event)
                )
            - else
              .small
                (No speaker)

          - %w(registered biographies commercials subtitle difficulty_level).each do |info|
            %td{'data-order' => "#{progress_status[info]}"}
              %span{class: class_for_todo(progress_status[info])}
                %span{class: [icon_for_todo(progress_status[info]), 'fa-lg']}
          - if @program.tracks.any?
            %td{'data-order' => "#{progress_status['track']}"}
              %span{class: class_for_todo(progress_status['track'])}
                %span{class: [icon_for_todo(progress_status['track']), 'fa-lg']}
