.row
  .col-md-12
    .page-header
      %h1
        Events Without Materials
        = "(#{@events_missing_commercial.length})"
      %p.text-muted
        All submissions that have no materials
.col-md-12
  %table.datatable
    %thead
      %th ID
      %th Title
      %th Speaker(s)
    %tbody
      - @events_missing_commercial.each do |event|
        %tr
          %td= event.id
          %td= link_to event.title, edit_admin_conference_program_event_path(@conference.short_title, event)
          %td
            - if(event.speakers.any?)
              = speaker_links(event)
            - else
              .small
                (No speaker)
