<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS -->
  <link rel="stylesheet" href="main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800" rel="stylesheet">
  <style>
  html {
    scroll-behavior: smooth;
  }

  body {
      background: #fff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
      color: #000;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      margin: 0 auto;
  }

  h1,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 400;
      line-height: 1.3;
  }
  p {
    color: #0B3559;
    font-weight: 400;
    line-height: 2;
  }

  #border {
    background-color: #0B3559;
    padding: 25px;
    color:#fff;
  }

  #content {
    background-color: #fff;
    padding: 100px;
    color: #0B3559;
  }
  </style>

  <!-- Page Title -->
  <title>Email</title>
</head>
<body>
  <div id="border">
    <div class="row">
      <!-- Uncomment below to get logo -->
      <div class="col-md-2">
      </div>
      <div class="col-md-10"><h1></h1></div>
    </div>
  </div>
  <div id="content">
    <span style="white-space: pre-line">
      Dear <%= @user.name %>,

      Thanks! You have successfully booked <%= @ticket_purchase.quantity %> <%= @ticket_purchase.ticket.title %> ticket(s) for the event <%= @conference.title %>. Your transaction id is <%= @ticket_purchase.id %>.
      
      Please, find the ticket(s) pdf attached.
      
      The SAP Young Thinkers team will reach out to you with information on how to participate in the event soon. In the meantime, you can check the event page (https://events.sap.com/yt-learning-festival-at-snapcon-2020/en/home) or send an email with your questions to youngthinkers@sap.com.
      
      Best wishes,
      <%= @conference.title %> Team    
    </span>
  </div>
  <div id="border">
    <h1></h1>
  </div>
</body>
</html>
