.row
  - @rooms.each do |room|
    .col-md-2.col-xs-6
      .room-name
        = room.name
      - (9*4..18*4).each do |slot|
        - hour = slot / 4
        - time = (15 * (slot % 4) == 0) ? '00' : 15 * (slot % 4)
        .schedule-room-slot{ id: "schedule-room-#{room.guid}-#{hour}-#{time}", |
                             "room-guid" => room.guid, |
                             hour: "#{hour}:#{time}", |
                             date: date}
          = "#{hour}:#{time}"
