.unobtrusive-flash-container

.row
  .col-md-12
    .page-header
      %h1 Schedule
      %p.text-muted
        Create the schedules for the conference

- if @rooms.present?
  .row
    .col-md-2
      Selected schedule
      :ruby
        if @schedule.track
          value = @schedule == @schedule.track.selected_schedule
          url = update_selected_schedule_admin_conference_program_track_path(@conference.short_title, @schedule.track) + '?[track][selected_schedule_id]='
        else
          value = @schedule.id == @selected_schedule.try(:id)
          url = admin_conference_program_path(@conference.short_title) + '?[program][selected_schedule_id]='
        end
      = check_box_tag @conference.short_title, @schedule.id, value, method: :patch, url: url,
        class: 'switch-checkbox-schedule', data: { size: 'small',
                                          off_color: 'warning',
                                          on_text: 'Yes',
                                          off_text: 'No' }
      .h4
        Unscheduled events
      .unscheduled-events
        - @unscheduled_events.each do |e|
          = render partial: 'event', locals: { event: e, event_schedule_id: nil }
    .col-md-10
      %ul.nav.nav-tabs
        - @dates.each do |date|
          %li{ class: "#{ (@dates.first == date) ? 'active' : '' }"}
            %a{ href: "##{date}" }
              = date
      .tab-content
        - @dates.each do |date|
          .tab-pane{ class: "#{ (@dates.first == date) ? 'active' : '' }", id: "#{date}" }
            = render partial: 'day_tab', locals: { date: date }
- else
  .h3
    No Rooms!
    %small
      = link_to 'Create rooms', admin_conference_venue_rooms_path
      before creating the schedule.

:javascript
  $(document).ready( function() {
    Schedule.initialize("#{admin_conference_event_schedules_path(@conference)}", "#{@schedule.id}");
  });
