= semantic_form_for [:admin, @person] do |f|
  = f.inputs "Basic Information" do
    = f.input :first_name, :as => :string
    = f.input :last_name, :as => :string
    = f.input :public_name, :as => :string
    = f.input :email
    = f.input :company, :as => :string
    = f.input :biography, :input_html => {:rows => 10}
  = f.actions do
    = f.action :submit, :button_html => {:class => "btn primary"}
