%table.table
  %tr
    %td
      %b First Name
    %td
      = @person.first_name
  %tr
    %td
      %b Last Name
    %td
      = @person.last_name
  %tr
    %td
      %b Public Name
    %td
      = @person.public_name
  %tr
    %td
      %b Company
    %td
      = @person.company
  %tr
    %td
      %b Email
    %td
      = @person.email
  %tr
    %td
      %b Created At
    %td
      = @person.created_at
  %tr
    %td
      %b Updated At
    %td
      = @person.updated_at
  %tr
    %td
      %b Biography
    %td
      = @person.biography
  %tr
    %td
      %b Registered to attend
    %td
      - if @person.registrations.count == 0
        None
      - else
        = @person.registrations.map { |r| r.conference.title }.join ','