.container
  .row
    .col-md-12.page-header
      %h1
        Organizations
        .btn-group.pull-right
          / = link_to 'Add new', new_organization_path, class: 'btn btn-mini btn-success'
    - @organizations.each do |organization|
      .col-md-4{ id: "organization-#{organization.id}" }
        .thumbnail
          = image_tag(organization.picture.thumb.url, width: '20%') if organization.picture?
          .caption
            %h4
              = organization.name
            .btn-group
              = link_to 'Conferences',
                conferences_organization_path(organization),
                class: 'btn btn-success'
              - unless organization.code_of_conduct.blank?
                = link_to 'Code of Conduct', [:code_of_conduct, organization], class: 'btn btn-info'
              / = link_to 'Edit', edit_organization_path(organization), class: 'btn btn-mini btn-default'
