= semantic_form_for [:admin, @user] do |f|
  = f.inputs 'Basic Information' do
    - unless @user.new_record?
      .pull-right
        %b
          Confirmed?
        - if can? :toggle_confirmation, @user
          = check_box_tag @user.id, @user.id, @user.confirmed?,
            method: :patch,
            url: "/admin/users/#{@user.id}/toggle_confirmation?user[to_confirm]=",
            class: 'switch-checkbox',
            readonly: false,
            data: { size: 'small', on_color: 'success', off_color: 'warning', on_text: 'Yes', off_text: 'No' }
        - else
          = check_box_tag @user.id, @user.id, @user.confirmed?,
            method: :patch,
            url: "/admin/users/#{@user.id}/toggle_confirmation?user[to_confirm]=",
            class: 'switch-checkbox',
            readonly: true,
            data: { size: 'small', on_color: 'success', off_color: 'warning', on_text: 'Yes', off_text: 'No' }
    = f.input :is_admin, hint: 'An admin can create a new conference, manage users and make other users admins.'
    = f.input :name, as: :string
    = f.input :username, :as => :string if @user.new_record?
    = f.input :email
    = f.input :password if @user.new_record?
    = f.input :affiliation, as: :string
    = f.input :biography, input_html: { rows: 10, data: { provide: 'markdown-editable' } },
      hint: markdown_hint
  = f.actions do
    = f.action :submit, button_html: {class: 'btn btn-primary'}
