- if current_user == user
  You cannot modify your own role!
  %br
  %button{:class=> "btn btn-danger", "data-dismiss"=> "modal", "aria-hidden"=>"true"}
    Cancel
- else
  = "Give #{user.name} (#{user.email}) the following roles:"
  = semantic_form_for(user, :url => admin_user_path(user), :method => :put) do |f|
    = f.input :roles, :label => false, collection: @roles
    %button{:class=> "btn btn-danger", "data-dismiss"=> "modal", "aria-hidden"=>"true"}
      Cancel
    = f.action :submit, :as => :button, :button_html => {:value => "Save", :class => "btn btn-primary"}
