.row
  .col-md-12
    %h2
      Users
      - if @users
        = "(#{@users.length})"

      = link_to "New User", new_admin_user_path, class: 'btn btn-success pull-right'
    .well
      %table.table.table-striped.table-bordered.table-hover#users
        %thead
          %th
            %b ID
          %th
            %b State
          %th
            %b Email
          %th
            %b Name
          %th
            %b # of Conference Registrations
          %th
            %b Roles
          %th
          %th
          %th
        - @users.each do |user|
          %tr
            %td
              = user.id
            %td
              - if user.confirmed?
                confirmed
              - else
                unconfirmed
            %td
              = user.email
            %td
              = user.name
            %td
              = user.registrations.count
            %td
              .modal.fade{:id => "user-role-selection-#{user.id}", "role" => "dialog", "aria-hidden" => "true"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button{"type"=>"button", :class=>"close", "data-dismiss"=>"modal", "aria-hidden"=>"true"}
                        ×
                      %h3{:id => "role-selector-header-#{user.id}"}
                        Modifying Roles
                    .modal-body
                      - if current_user == user
                        You cannot modify your own role!
                        %br
                        %button{:class=> "btn btn-danger", "data-dismiss"=> "modal", "aria-hidden"=>"true"}
                          Cancel
                      - else
                        = "Give #{user.name} (#{user.email}) the following roles:"
                        = semantic_form_for(user, :url => admin_user_path(user), :method => :put) do |f|
                          = f.input :roles, :label => false
                          %button{:class=> "btn btn-danger", "data-dismiss"=> "modal", "aria-hidden"=>"true"}
                            Cancel
                          = f.action :submit, :as => :button, :button_html => {:value => "Save", :class => "btn btn-primary"}
              - if can? :update, Role
                =link_to "#{user.roles.map { |role| role.name }.join ', '}", "#", "data-toggle" => "modal", "data-target" => "#user-role-selection-#{user.id}",id: "user-modify-role-#{user.id}"
              - else
                = user.roles.map { |role| role.name }.join ', '
            - if can? :update, user
              %td
                = link_to "Edit", edit_admin_user_path(user)
            - if can? :show, user
              %td
                = link_to "View", admin_user_path(user)
            - if can? :destroy, user
              %td
                - if current_user.id == user.id or user.role_ids.include? 3
                  =link_to 'Delete',admin_user_path(user), :method => :delete , :data => {:confirm => 'Are you sure ?'}, :disabled => true,:class => "btn btn-primary disabled btn-danger",:role => "button"
                - else
                  =link_to 'Delete',admin_user_path(user), :method=> :delete , :data=> {:confirm => 'Are you sure ?'},:class => "btn btn-primary btn-danger"


:javascript
  $(document).ready(function() {
      $('#users').dataTable( {
        "bPaginate": false,
        "bLengthChange": false
      } );
  } );
