.row
  .col-md-12
    .page-header
      %h2
        Users
        - if @users
          = "(#{@users.length})"
.row
  .col-md-12.table-responsive
    %table.table.table-striped.table-bordered.table-hover.datatable
      %thead
        %th ID
        %th State
        %th Email
        %th Name
        %th Attended Conferences
        %th Roles
        %th View
        %th Edit
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.id
            %td
              - if user.confirmed?
                confirmed
              - else
                unconfirmed
            %td
              = user.email
            %td
              = user.name
            %td
              = user.registrations.where(attended: true).count
            %td
              - unless user.get_roles.blank?
                = show_roles(user.get_roles.first(2))
                - if user.get_roles.count > 2
                  = '...'
              - else
                None
            %td
              - if can? :show, user
                = link_to 'View', admin_user_path(user), class: 'btn btn-success'
            %td
              - if can? :update, user
                = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary'
