- reverse ||= false
- variant = variant_from_delta(delta, reverse: reverse)
.dashbox.panel.panel-primary
  .paenl-body.text-center
    %span.fa
      = fa_icon(icon)
      = value
    %p
      = subtitle.pluralize(value)
      .label{ class: "label-#{variant}" }
        = delta || 0
        since last log in
