.row-fluid
  - if !@track_state['new'].empty?
    .span4
      %h4 New Submissions
      - if @no_track_new.count > 0
        %h5= "#{pluralize(@no_track_new.count, 'event')} not assigned to a track"
      - else
        %h5      
      .row-fluid
        .span12#events_tracks_new
      = render :partial => "events_tracks_new"

  - if !@track_state['unconfirmed'].empty?
    .span4
      %h4 Accepted (Unconfirmed)
      - if @no_track_unconfirmed.count > 0
        %h5= "#{pluralize(@no_track_unconfirmed.count, 'event')} not assigned to a track"
      - else
        %h5 All events assigned to track!

      .row-fluid
        .span12#events_tracks_unconfirmed
      = render :partial => "events_tracks_unconfirmed"

  - if !@track_state['confirmed'].empty?
    .span4
      %h4 Accepted (Confirmed)
      - if @no_track_confirmed.count > 0
        %h5= "#{pluralize(@no_track_confirmed.count, 'event')} not assigned to a track"
      - else
        %h5 All events assigned to track!

      .row-fluid
        .span12#events_tracks_confirmed
      = render :partial => "events_tracks_confirmed"
