.row-fluid
  - if !@type_state['new'].empty?
    .span4
      %h4 New Submissions: #{@type_state['new'].map{|x| x["value"]}.sum}
      .row-fluid
        .span12#events_types_new
      = render :partial => "events_types_new"
  - if !@type_state['unconfirmed'].empty?
    .span4
      %h4 Accepted (Unconfirmed): #{@type_state['unconfirmed'].map{|x| x["value"]}.sum}
      .row-fluid
        .span12#events_types_unconfirmed
      = render :partial => "events_types_unconfirmed"
  - if !@type_state['confirmed'].empty?       
    .span4
      %h4 Accepted (Confirmed): #{@type_state['confirmed'].map{|x| x["value"]}.sum}
      .row-fluid
        .span12#events_types_confirmed
      = render :partial => "events_types_confirmed"