%ul.nav.navbar-nav
  %li{:class=> active_nav_li(admin_conference_path(@conference.short_title))}
    = link_to(admin_conference_path(@conference.short_title)) do
      %span.glyphicon.glyphicon-wrench
      Settings
  %li{:class=> active_nav_li(admin_conference_registrations_path(@conference.short_title))}
    = link_to(admin_conference_registrations_path(@conference.short_title)) do
      %span.glyphicon.glyphicon-user
      Registrations
  - if @conference.use_supporter_levels? and @conference.supporter_levels.length > 0
    %li{:class=> active_nav_li(admin_conference_supporters_path(@conference.short_title))}
      = link_to(admin_conference_supporters_path(@conference.short_title)) do
        %span.glyphicon.glyphicon-star
        Supporters
  %li{:class=> active_nav_li(admin_conference_events_path(@conference.short_title))}
    = link_to(admin_conference_events_path(@conference.short_title)) do
      %span.glyphicon.glyphicon-comment
      Events
  %li{:class=> active_nav_li(admin_conference_stats_path(@conference.short_title))}
    = link_to(admin_conference_stats_path(@conference.short_title)) do
      %span.glyphicon.glyphicon-tasks
      Statistics
  %li{:class=> active_nav_li(admin_conference_volunteers_list_path(@conference.short_title))}
    = link_to(admin_conference_volunteers_list_path(@conference.short_title)) do
      %span.glyphicon.glyphicon-user
      Volunteers                    
  %li
    = link_to(admin_conference_schedule_path(@conference.short_title), :target => "_blank") do
      %span.glyphicon.glyphicon-calendar
      Schedule