%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :id => "mobmenu" }
  %span.icon-th
  = link_to "OSEM", root_path, :class => 'brand', :title => "Open Source Event Manager"
  - if @conference && !@conference.short_title.nil?
    %span.brand
      = @conference.short_title
  .nav-collapse.collapse
    / The Admin Menu for Conferences /
    - if user_signed_in?
      - if has_role?(current_user, "admin") || has_role?(current_user, "organizer")
        - if controller.class.name.split("::").first=="Admin"
          - if @conference && !@conference.short_title.nil?
            %ul.nav
              - if current_page?(admin_conference_path(@conference.short_title))
                %li.active
                  = link_to('#') do
                    Settings
              - else
                %li
                  = link_to(admin_conference_path(@conference.short_title)) do
                    Settings
              - if current_page?(admin_conference_registrations_path(@conference.short_title))
                %li.active
                  = link_to('#') do
                    Registrations
              - else
                %li
                  = link_to(admin_conference_registrations_path(@conference.short_title)) do
                    Registrations
              - if current_page?(admin_conference_supporters_path(@conference.short_title))
                %li.active
                  = link_to('#') do
                    Supporters
              - else
                %li
                  = link_to(admin_conference_supporters_path(@conference.short_title)) do
                    Supporters
              - if current_page?(admin_conference_events_path(@conference.short_title))
                %li.active
                  = link_to('#') do
                    Events
              - else
                %li
                  = link_to(admin_conference_events_path(@conference.short_title)) do
                    Events
              - if current_page?(admin_conference_schedule_path(@conference.short_title))
                %li.active
                  = link_to('#') do
                    Schedule
              -else
                %li
                  = link_to(admin_conference_schedule_path(@conference.short_title), :target => "_blank") do
                    Schedule
      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>"visible-desktop"}
            = image_tag(current_user.person.gravatar_url(:size => "22"), :title => "Yo #{current_user.person.public_name}!")
            %b.caret
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class=>"hidden-desktop"}
            = current_user.person.public_name if current_user.person
            %b.caret
          %ul.dropdown-menu{:style => "padding: 15px;"}
            %li.visible-desktop
              = link_to("#") do
                %i.icon-home
                = current_user.person.public_name if current_user.person
            %li
              = link_to(edit_user_registration_path) do
                %i.icon-wrench
                Edit Account
            -if @conference and @conference.id
              %li
                = link_to(conference_proposal_index_path(@conference.short_title)) do
                  %i.icon-comment
                  My Submissions
            %li
              = link_to(destroy_user_session_path, :method=>'delete') do
                %i.icon-minus
                Sign out
            -if has_role?(current_user, "admin") || has_role?(current_user, "organizer")
              %li.divider
              %h6
                Manage Conferences
              - @conferences.each do |conference|
                %li
                  = link_to(admin_conference_path(conference.short_title)) do
                    %i.icon-cog
                    Manage
                    = conference.short_title
              %li
                = link_to(new_admin_conference_path) do
                  %i.icon-plus
                  New Conference
              %li.divider
              %h6
                Manage OSEM
              %li
                = link_to(admin_users_path) do
                  %i.icon-user
                  Users
              %li
                = link_to(admin_people_path) do
                  %i.icon-star-empty
                  People
    - else
      %ul.nav.pull-right
        %li.dropdown.visible-desktop
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.icon-user.icon-2x
            Sign In
            %i.icon-angle-down
          .dropdown-menu{:style => "padding: 15px; padding-bottom: 0px;"}
            = form_tag user_session_path do
              = text_field_tag 'user[email]'
              = password_field_tag 'user[password]'
              %label.checkbox
                = check_box_tag 'user[remember_me]'
                Remember me
              %button.btn.btn-block Sign in
              %br
              = link_to "Forgot your password?", new_password_path('user')
        %li.hidden-desktop
          = link_to('Sign In', new_user_session_path)