- unless ENV['OSEM_ICHAIN_ENABLED'] == 'true'
  %li
    = link_to(edit_user_registration_path) do
      %span.fa.fa-wrench
      Edit Account
%li
  = link_to(edit_user_path(current_user.id)) do
    %span.fa.fa-user
    Edit Profile
-if @conference and @conference.program
  %li
    = link_to(conference_program_proposals_path(@conference.short_title)) do
      %span.fa.fa-comment
      My Submissions
%li
  - if ENV['OSEM_ICHAIN_ENABLED'] == 'true'
    = link_to(destroy_user_ichain_session_path, method: 'delete') do
      %span.fa.fa-minus
      Sign out
  - else
    = link_to(destroy_user_session_path, method: 'delete') do
      %span.fa.fa-minus
      Sign out
- if can? :access, Admin
  %li.divider
    %li
      - if Conference.any?
        = link_to(admin_conferences_path()) do
          %span.fa.fa-home
          Administration
      - if can? :create, Conference
        =link_to(new_admin_conference_path) do
          %span.fa.fa-plus
          Create Conference
    -if @conference and @conference.id and can? :show, @conference
      %li
        = link_to(admin_conference_path(@conference.short_title)) do
          %span.fa.fa-cog
          Manage
          %span.notranslate
            = @conference.short_title
- if can? :manage, User.new
  %li
    = link_to(admin_users_path) do
      %span.fa.fa-user
      Users
- if can? :index, PaperTrail::Version.new(item_type: 'User')
  %li
    = link_to(admin_revision_history_path) do
      %span.fa.fa-history
      Revision History
