!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "OSEM"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      $(function() {
        $('.dropdown input, .dropdown label').click(function(e) {
        e.stopPropagation();
        });
      });
    = yield(:head)
  %body
    = render 'layouts/navigation'
    .container#messages
      .row
        .col-md-12
          = render 'layouts/messages'
          %noscript
            :css
              #content {
                display: none;
              }
            %h2
              JavaScript is not enabled
            %p
              OSEM requires JavaScript to be enabled to function. Please turn on JavaScript in your browser's settings and reload the page to continue.
    .container#content
      = yield

    #footer
      .container
        %p.muted.text-center
          OSEM is (C) 2013
          = link_to "Matt Barringer", "http://incoherent.de"
          and released under the GPL.  You can get the source code from
          = link_to "Github.", "https://github.com/mbarringer/osem"
