%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : (ENV['OSEM_NAME'] || 'OSEM')
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
    :javascript
      window.liveSettings = {
        api_key: "#{ENV['OSEM_TRANSIFEX_APIKEY']}",
        picker: "bottom-right",
        detectlang: true,
        autocollect: true
      };
    = content_for(:script_head)
    = javascript_include_tag "//cdn.transifex.com/live.js"

    = yield(:head)
  %body
    .container
      = yield
